<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<false/>
	<key>Creator</key>
	<string>Platypus v4.9</string>
	<key>DropSuffixes</key>
	<array>
		<string>*</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>InterpreterArgs</key>
	<array/>
	<key>OutputType</key>
	<string>Text Window</string>
	<key>PromptForFileOnLaunch</key>
	<false/>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<true/>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKIHCFUkbnVsbE8RgwojIS9iaW4vc2gKI3NldCAteAojCiNTZXQgZW52IHZhcmlh
	YmxlIExBTkc9cnVfUlUuVVRGLTggZm9yIGNvcnJlY3QgZGlzcGxheSBjeXJpbGxpYyBm
	aWxlIG5hbWVzCiNleHBvcnQgTEFORz1ydV9SVS5VVEYtOAoKI2VjaG8gIlwkezF9PSR7
	MX0iCiNlY2hvICJcJHsyfT0kezJ9IgojZWNobyAiXCR7M309JHszfSIKI2VjaG8gIlwk
	ezR9PSR7NH0iCgpLVUNvbmZpZ1BsaXN0UGF0aD0iLi9LVV9jb25maWcucGxpc3QiCgpX
	b3JrRGlyMT0iL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMiCldvcmtEaXIyPSIvTGli
	cmFyeS9FeHRlbnNpb25zIgpXb3JrRGlyMz0iL0V4dHJhL0V4dGVuc2lvbnMiCgpMZW9D
	YWNoZUZpbGU9Ii9TeXN0ZW0vTGlicmFyeS9FeHRlbnNpb25zLm1rZXh0IgpTbm93TGVv
	Q2FjaGVGaWxlPSIvU3lzdGVtL0xpYnJhcnkvQ2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNh
	Y2hlcy9TdGFydHVwL0V4dGVuc2lvbnMubWtleHQiCkNhY2hlRmlsZT0iL1N5c3RlbS9M
	aWJyYXJ5L0NhY2hlcy9jb20uYXBwbGUua2V4dC5jYWNoZXMvU3RhcnR1cC9rZXJuZWxj
	YWNoZSIKQXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aD1gZmluZCAv
	U3lzdGVtL0xpYnJhcnkvRXh0ZW5zaW9ucy9BcHBsZUtleHRFeGNsdWRlTGlzdC5rZXh0
	IC1uYW1lIEluZm8ucGxpc3RgCkJvb3RQbGlzdFBhdGg9Ii9MaWJyYXJ5L1ByZWZlcmVu
	Y2VzL1N5c3RlbUNvbmZpZ3VyYXRpb24vY29tLmFwcGxlLkJvb3QucGxpc3QiCiNCb290
	UGxpc3RQYXRoPSIvVXNlcnMvY3ZhZC9EZXNrdG9wL2NvbS5hcHBsZS5Cb290LnBsaXN0
	IgpTeXN0ZW1DYWNoZUZpbGU9IiIKU3lzdGVtTmFtZT0iIgoKa2V4dF9tc2Rvc2ZzPTEK
	a2V4dF9BcHBsZUtleHRFeGNsdWRlTGlzdD0xCgpLZXJuT1NSZWxlYXNlPWBzeXNjdGwg
	LW4ga2Vybi5vc3JlbGVhc2UgfCBjdXQgLWQgIi4iIC1mMWAKCkhvbWVEaXI9fgpUaW1l
	T3V0PTEwICMgdGltZW91dCAoZGVmYXVsdCA2MCBzZWMpIG9mIHRoZSByZXBhaXIgb3Bl
	cmF0aW9uCgojIyMgUmVsZWFzZS1UeXBlIFZhcmlhYmxlcyAjIyMKCiNQUk9HUkFNPSQo
	YmFzZW5hbWUgIiQxIikKVmVyc2lvbj0iMi42LjUiCkNyZWF0b3I9ImNWYWQiClJlbGVh
	c2VkPSIyMDA4LTIwMTYiCgptZW1vTVNHKCkgewoKIyBQcm9ncmFtbSBhdHRyaWJ1dGVz
	CmNhdCA8PCBFT0YKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgLS0gS2V4
	dCBVdGlsaXR5IC0tCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHYkVmVyc2lv
	biDCqSAkQ3JlYXRvciAkUmVsZWFzZWQKICAgICAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgTWFjIE9TIFggMTAuNS0xMC4xMQogICAgICAgICAgICAgICAgICAgICBNYWMg
	T1MgWCAiRWwgQ2FwaXRhbiIgU3VwZXIgU3BlZWQgRWRpdGlvbgogICAgICAgICAgICAg
	ICAgICAgICAgU3VwZXIgRmFzdCBSZXBhaXIgYWxsIEtleHRzIHBlcm1pc3Npb25zCiAg
	ICAgICAgICAgICAgICAgICAgICAgICAgQWRkL1JlbW92ZSBVc2VmdWxsIEJvb3QgT3B0
	aW9ucwogICAgICAgICAgICAgICAgICAgICAgICAgICBPU0tleHRTaWdFeGNlcHRpb25M
	aXN0IFVwZGF0ZXIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC9TL0wvRSBL
	ZXh0cyBJbnN0YWxsZXIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICBNa2V4
	dCBQYWNrZXIvVW5QYWNrZXIKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
	IGN2YWQtbWFjLm5hcm9kLnJ1CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
	ICAgIGFwcGxlbGlmZS5ydQoKRU9GCn0KClN5c3RlbVNwZWNNU0coKSB7CiNzZXQgK3gK
	I0Jsb2NrIHNob3cgc3lzdGVtIHNwZWNpZmljYXRpb25zCktFUk5fVmVyc2lvbj1gZWNo
	byAkKHN5c2N0bCAtbiBrZXJuLnZlcnNpb24gfCBjdXQgLWQgIjsiIC1mMSlgCk1hY2hp
	bmVIYXJkd2FyZU5hbWU9YHVuYW1lIC1tYAoKTU9ERUxfSUQ9YHN5c2N0bCAtbiBody5t
	b2RlbGAKClByb2R1Y3ROYW1lPWBzd192ZXJzIHxncmVwIFByb2R1Y3ROYW1lYApQcm9k
	dWN0VmVyc2lvbj1gZWNobyAkKHN3X3ZlcnMgfGdyZXAgUHJvZHVjdFZlcnNpb24pYApC
	dWlsZFZlcnNpb249YGVjaG8gJChzd192ZXJzIHxncmVwIEJ1aWxkVmVyc2lvbilgCgpV
	c2VyPSRVU0VSCktFUk5fSG9zdG5hbWU9YHN5c2N0bCAtbiBrZXJuLmhvc3RuYW1lYApL
	RVJOX0Jvb3RhcmdzPWBzeXNjdGwgLW4ga2Vybi5ib290YXJnc2AKCkNQVV9UWVBFPSJg
	c3lzY3RsIC1uIG1hY2hkZXAuY3B1LmJyYW5kX3N0cmluZyB8IHNlZCAncy8gICovIC9n
	J2AiCkNQVV9GRUFUVVJFUz0iYHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5mZWF0dXJlc2Ag
	YHN5c2N0bCAtbiBtYWNoZGVwLmNwdS5leHRmZWF0dXJlc2AgYHN5c2N0bCAtbiBtYWNo
	ZGVwLmNwdS5sZWFmN19mZWF0dXJlc2AiCkNQVUNvcmVzPSJgc3lzY3RsIC1uIGh3LnBo
	eXNpY2FsY3B1YCIKQ1BVVGhyZWFkcz0iYHN5c2N0bCAtbiBody5sb2dpY2FsY3B1YCIK
	dGVtcD0iYHN5c2N0bCAtbiBody5jcHVmcmVxdWVuY3lfbWF4YCIKaWYgWyAke3RlbXB9
	IF0KCXRoZW4KCQlDUFVGcmVxdWVuY3lfTUFYPSQoKCR7dGVtcH0vMTAwMDAwMCkpCgll
	bHNlCgkJQ1BVRnJlcXVlbmN5X01BWD0wCmZpCnRlbXA9ImBzeXNjdGwgLW4gaHcuY3B1
	ZnJlcXVlbmN5X21pbmAiCmlmIFsgJHt0ZW1wfSBdCgl0aGVuCgkJQ1BVRnJlcXVlbmN5
	X01JTj0kKCgke3RlbXB9LzEwMDAwMDApKQoJZWxzZQoJCUNQVUZyZXF1ZW5jeV9NSU49
	MApmaQp0ZW1wPSJgc3lzY3RsIC1uIGh3LmNwdWZyZXF1ZW5jeWAiCmlmIFsgJHt0ZW1w
	fSBdCgl0aGVuCgkJQ1BVRnJlcXVlbmN5PSQoKCR7dGVtcH0vMTAwMDAwMCkpCgllbHNl
	CgkJQ1BVRnJlcXVlbmN5PTAKZmkKdGVtcD0iYHN5c2N0bCAtbiBody5idXNmcmVxdWVu
	Y3lgIgppZiBbICR7dGVtcH0gXQoJdGhlbgoJCUJVU0ZyZXF1ZW5jeUZTQj0kKCgke3Rl
	bXB9LzEwMDAwMDApKQoJCUJVU0ZyZXF1ZW5jeT0kKCgkQlVTRnJlcXVlbmN5RlNCLzQp
	KQoJZWxzZQoJCUJVU0ZyZXF1ZW5jeUZTQj0wCgkJQlVTRnJlcXVlbmN5PTAKZmkKdGVt
	cD0iYHN5c2N0bCAtbiBody5sMWljYWNoZXNpemVgIgppZiBbICR7dGVtcH0gXQoJdGhl
	bgoJCUNhY2hlX0wxaT0kKCgke3RlbXB9LzEwMjQpKQoJZWxzZQoJCUNhY2hlX0wxaT0w
	CmZpCnRlbXA9ImBzeXNjdGwgLW4gaHcubDFkY2FjaGVzaXplYCIKaWYgWyAke3RlbXB9
	IF0KCXRoZW4KCQlDYWNoZV9MMWQ9JCgoJHt0ZW1wfS8xMDI0KSkKCWVsc2UKCQlDYWNo
	ZV9MMWQ9MApmaQp0ZW1wPSJgc3lzY3RsIC1uIGh3LmwyY2FjaGVzaXplYCIKaWYgWyAk
	e3RlbXB9IF0KCXRoZW4KCQlDYWNoZV9MMj0kKCgke3RlbXB9LzEwMjQpKQoJZWxzZQoJ
	CUNhY2hlX0wyPTAKZmkKdGVtcD0iYHN5c2N0bCAtbiBody5sM2NhY2hlc2l6ZWAiCmlm
	IFsgJHt0ZW1wfSBdCgl0aGVuCgkJQ2FjaGVfTDM9JCgoJHt0ZW1wfS8xMDI0KSkKCWVs
	c2UKCQlDYWNoZV9MMz0wCmZpCkNQVVNpZ25hdHVyZT0iYHN5c2N0bCAtbiBtYWNoZGVw
	LmNwdS5zaWduYXR1cmVgIgpDUFVTaWduYXR1cmVIZXg9JChlY2hvICJvYmFzZT0xNjsg
	JENQVVNpZ25hdHVyZSIgfCBiYykKCnRlbXA9ImBzeXNjdGwgLW4gaHcubWVtc2l6ZWAi
	CmlmIFsgJHt0ZW1wfSBdCgl0aGVuCgkJTUVNU0laRT0kKCgke3RlbXB9LzEwNDg1NzYp
	KQoJZWxzZQoJCU1FTVNJWkU9MApmaQpTd2FwVXNhZ2U9ImBzeXNjdGwgLW4gdm0uc3dh
	cHVzYWdlYCIKSGliZXJuYXRlTW9kZT0iYHN5c2N0bCAtbiBrZXJuLmhpYmVybmF0ZW1v
	ZGVgIgoKI0Jvb3RhcmdzICAgICA6ICR7S0VSTl9Cb290YXJnc30gIyBzY3JpcHQgbm90
	IHdvcmsgaW4gMTAuOCB3aXRoIG5vbiB1dGY4IGFyZ3MKCmNhdCA8PCBFT0YKUHJvZHVj
	dE5hbWUgIDogTWFjIE9TIFggJFByb2R1Y3RWZXJzaW9uICRCdWlsZFZlcnNpb24KQm9v
	dGFyZ3MgICAgIDogJEtFUk5fQm9vdGFyZ3MKS2VybmVsICAgICAgIDogJEtFUk5fVmVy
	c2lvbgpNb2RlbCBJRCAgICAgOiAkTU9ERUxfSUQgS2VybmVsTW9kZTogJE1hY2hpbmVI
	YXJkd2FyZU5hbWUKQ1BVIFRZUEUgICAgIDogJHtDUFVfVFlQRX0KQ1BVIElEICAgICAg
	IDogT3gkQ1BVU2lnbmF0dXJlSGV4ICgkQ1BVU2lnbmF0dXJlKSAKQ29yZXMgICAgICAg
	IDogJHtDUFVDb3Jlc30gQ29yZXMsICR7Q1BVVGhyZWFkc30gVGhyZWFkcyBAICR7Q1BV
	RnJlcXVlbmN5X01BWH1NSHogQnVzOiAke0JVU0ZyZXF1ZW5jeX1NSHogRlNCOiAke0JV
	U0ZyZXF1ZW5jeUZTQn1NSHoKQ2FjaGVzICAgICAgIDogTDFpOiR7Q2FjaGVfTDFpfUti
	IEwxZDoke0NhY2hlX0wxZH1LYiBMMjoke0NhY2hlX0wyfUtiIEwzOiR7Q2FjaGVfTDN9
	S2IKQ1BVIEZlYXR1cmVzIDogJHtDUFVfRkVBVFVSRVN9ClJBTSAgICAgICAgICA6ICR7
	TUVNU0laRX1NYiBIaWJlcm5hdGVNb2RlOiAkSGliZXJuYXRlTW9kZQpTd2FwVXNhZ2Ug
	ICAgOiAkU3dhcFVzYWdlClVzZXIgICAgICAgICA6ICRVU0VSIG9uICRLRVJOX0hvc3Ru
	YW1lCgpFT0YKfQoKU3RhcnRNU0coKSB7CgojICAgICAgIExlb3BhcmQgICAgICAgIC0g
	IDksCiMgICAgICAgU25vdyAgTGVvcGFyZCAgLSAxMCwKIyAgICAgICBMaW9uICAgICAg
	ICAgICAtIDExCiMgICAgICAgTW91bnRhaW4gTGlvbiAgLSAxMgojICAgICAgIE1hdmVy
	aWNrcyAgICAgIC0gMTMKIyAgICAgICBZb3NlbWl0ZSAgICAgICAtIDE0CiMgICAgICAg
	RWwgQ2FwaXRhbiAgICAgLSAxNQoKY2FzZSAiJHtLZXJuT1NSZWxlYXNlfSIgaW4KICAg
	IFswLThdKQoJCWVjaG8gIkRldGVjdGVkIC4uLiB1bnN1cHBvcnRlZCBNQUMgT1MgWCBz
	eXN0ZW0uIgogICAgICAgICAgICAgICAgU3lzdGVtTmFtZT0idW5zdXBwb3J0ZWQgTUFD
	IE9TIFggc3lzdGVtIgogICAgICAgIDs7CiAgICA5KQoJCWVjaG8gIkRldGVjdGVkICAu
	Li4gIE1BQyBPUyBYIFwiTGVvcGFyZFwiLiIKICAgICAgICAgICAgICAgIFN5c3RlbUNh
	Y2hlRmlsZT0iJHtMZW9DYWNoZUZpbGV9IgogICAgICAgICAgICAgICAgU3lzdGVtTmFt
	ZT0iTUFDIE9TIFggXCJMZW9wYXJkXCIiCiAgICAgICAgOzsKICAgIDEwKQoJCWVjaG8g
	IkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiU25vdyBMZW9wYXJkXCIuIgogICAgICAg
	ICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke1Nub3dMZW9DYWNoZUZpbGV9IgogICAg
	ICAgICAgICAgICAgU3lzdGVtTmFtZT0iTUFDIE9TIFggXCJTbm93IExlb3BhcmRcIiIK
	ICAgICAgICA7OwogICAgMTEpCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFgg
	XCJMaW9uXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0NhY2hl
	RmlsZX0iCiAgICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMgT1MgWCBcIkxpb25c
	IiIKICAgICAgICA7OwogICAgMTIpCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9T
	IFggXCJNb3VudGFpbiBMaW9uXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVG
	aWxlPSIke0NhY2hlRmlsZX0iCiAgICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMg
	T1MgWCBcIk1vdW50YWluIExpb25cIiIKICAgICAgICA7OwogICAgMTMpCgkJZWNobyAi
	RGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJNYXZlcmlja3NcIi4iCiAgICAgICAgICAg
	ICAgICBTeXN0ZW1DYWNoZUZpbGU9IiR7Q2FjaGVGaWxlfSIKICAgICAgICAgICAgICAg
	IFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiTWF2ZXJpY2tzXCIiCiAgICAgICAgOzsKICAg
	IDE0KQoJCWVjaG8gIkRldGVjdGVkICAuLi4gIE1BQyBPUyBYIFwiWW9zZW1pdGVcIi4i
	CiAgICAgICAgICAgICAgICBTeXN0ZW1DYWNoZUZpbGU9IiR7Q2FjaGVGaWxlfSIKICAg
	ICAgICAgICAgICAgIFN5c3RlbU5hbWU9Ik1BQyBPUyBYIFwiWW9zZW1pdGVcIiIKICAg
	ICAgICA7OwogICAgMTUpCgkJZWNobyAiRGV0ZWN0ZWQgIC4uLiAgTUFDIE9TIFggXCJF
	bCBDYXBpdGFuXCIuIgogICAgICAgICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0Nh
	Y2hlRmlsZX0iCiAgICAgICAgICAgICAgICBTeXN0ZW1OYW1lPSJNQUMgT1MgWCBcIkVs
	IENhcGl0YW5cIiIKICAgICAgICA7OwoJKikKCQllY2hvICJEZXRlY3RlZCAgLi4uICAk
	KHN5c2N0bCAtbiBrZXJuLnZlcnNpb24gfCBjdXQgLWQgIjoiIC1mMSkuIgogICAgICAg
	ICAgICAgICAgU3lzdGVtQ2FjaGVGaWxlPSIke0NhY2hlRmlsZX0iCiAgICAgICAgICAg
	ICAgICBTeXN0ZW1OYW1lPWBlY2hvICQoc3lzY3RsIC1uIGtlcm4udmVyc2lvbiB8IGN1
	dCAtZCAiOiIgLWYxKWAKICAgICAgICA7Owplc2FjCgplY2hvCmVjaG8gIlN0YXJ0IHdv
	cmtpbmc6ICQoZGF0ZSAiKyVZLSVtLSVkICVIOiVNOiVTICV6IikiCmVjaG8KCn0KCkVy
	ck1TRygpIHsJCgoJbWVtb01TRwoJdXNhZ2UKfQoKdXNhZ2UoKSB7CgkjIFVzYWdlIGZv
	cm1hdApjYXQgPDxFT0YKICAgICBVc2FnZTogCgogICAgIDEuIFRvIGluc3RhbGwgdGhl
	IGRyaXZlcnMgRHJvcCBhbGwgdGhlIGRyaXZlciBmaWxlcyB3aXRoIHZhbGlkIGV4dGVu
	c2lvbgogICAgIAkoKi5rZXh0LCAqLnBsdWdpbiwgKi5idW5kbGUsICoucHBwKSBvbiB0
	aGUgYXBwIGljb24uCiAgICAgICAgSXQgd2lsbCBiZSBpbnN0YWxsZWQgdG8gIi9TeXN0
	ZW0vTGlicmFyeS9FeHRlbnNpb25zLyIgZm9sZGVyLgogICAgIDIuIFRvIFJlcGFpciB0
	aGUga2V4dCBwZXJtaXNzaW9ucyBmb3IgYWxsIHN5c3RlbSBmb2xkZXJzLCBqdXN0CiAg
	ICAgCXJ1biB0aGUgYXBwLgogICAgIDMuIFRvIFJlcGFpciZQYWNrIGEgZm9sZGVyIHdp
	dGgga2V4dCBmaWxlcyBpbiB0aGUgbWtleHQgY2FjaGUgZmlsZSwKICAgICAgICBkcm9w
	IHRoaXMgZm9sZGVyIG9uIHRoZSBhcHAgaWNvbi4KICAgICAgICJFeHRlbnNpb25zLm1r
	ZXh0IiBmaWxlIHdpbGwgYmUgcGxhY2VkIG5lYXIgIkV4dGVuc2lvbnMiIGZvbGRlci4K
	ICAgICA0LiBUbyBVblBhY2sgdGhlIG1rZXh0IGNhY2hlIGZpbGUsIGRyb3AgdGhlIG1r
	ZXh0IGZpbGUgb24gdGhlIGFwcCBpY29uLgogICAgICAgIEZvbGRlciB3aXRoIHlvdXIg
	ZXh0cmFjdGVkIGZpbGVzIHdpbGwgYmUgcGxhY2VkIG9uIHRoZSBEZXNrdG9wLgoKICAg
	ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
	ICAgICAgICAgICAgICBFbmpveSAuLi4KICAgIApFT0YKfQoKQWRkQm9vdEFyZygpIHsK
	bG9jYWwgdmFsPWAvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgOlwiS2Vy
	bmVsIEZsYWdzXCIiICIke0Jvb3RQbGlzdFBhdGh9ImAKaWYgW1sgJHt2YWx9IF1dCgl0
	aGVuCgkJdmFsPSR7dmFsfSIgJHsxfSIKCWVsc2UKCQl2YWw9JHsxfQpmaQoKaWYgW1sg
	ISBgL3Vzci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIlNldCA6XCJLZXJuZWwgRmxhZ3Nc
	IiAke3ZhbH0iICIke0Jvb3RQbGlzdFBhdGh9ImAgXV0KCXRoZW4KCQllY2hvICJUaGUg
	Qm9vdCBhcmc6IFwiJHsxfVwiIHdhcyBhZGRlZCBpbiBjb20uYXBwbGUuQm9vdC5wbGlz
	dCIKCWVsc2UKCQllY2hvICJUaGUgQm9vdCBhcmc6IFwiJHsxfVwiIGZhaWxlZCB0byBh
	ZGQgaW4gY29tLmFwcGxlLkJvb3QucGxpc3QiCmZpCmVjaG8KfQoKUmVtb3ZlQm9vdEFy
	ZygpIHsKbG9jYWwgdmFsPWAvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQg
	OlwiS2VybmVsIEZsYWdzXCIiICIke0Jvb3RQbGlzdFBhdGh9ImAKdmFsPSR7dmFsLyR7
	MX0vfQppZiBbWyAhIGAvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiU2V0IDpcIktl
	cm5lbCBGbGFnc1wiICR7dmFsfSIgIiR7Qm9vdFBsaXN0UGF0aH0iYCBdXQoJdGhlbgoJ
	CWVjaG8gIlRoZSBCb290IGFyZzogXCIkezF9XCIgd2FzIHJlbW92ZWQgZnJvbSBjb20u
	YXBwbGUuQm9vdC5wbGlzdCIKCWVsc2UKCQllY2hvICJUaGUgQm9vdCBhcmc6IFwiJHsx
	fVwiIGZhaWxlZCB0byByZW1vdmUgZnJvbSBjb20uYXBwbGUuQm9vdC5wbGlzdCIKZmkK
	ZWNobwp9CgpDaGVja1BsaXN0S2V5VmFsdWUgKCkgewojICR7MX0gPSBEaWN0aW9uYXJ5
	OmtleSAjRXhhbXBsZTogUGF0Y2hLZXh0czptc2Rvc2ZzLmtleHQgb3IgQWRkQm9vdEFy
	Z3M6LXYKIyAkezJ9ID0gS1VfY29uZmlnLnBsaXN0IHBhdGggI0V4YW1wbGU6IC4vS1Vf
	Y29uZmlnLnBsaXN0Cgpsb2NhbCBrZXlfdmFsdWU9YC91c3IvbGliZXhlYy9QbGlzdEJ1
	ZGR5IC1jICJQcmludCAkezF9IiAiJHsyfSJgCmlmIFtbICRrZXlfdmFsdWUgPSAidHJ1
	ZSIgXV0KCXRoZW4KCQllY2hvICJ0cnVlIgoJZWxzZQoJCWVjaG8gImZhbHNlIgpmaQp9
	CgpDaGVja0Jvb3RBcmcoKSB7CmxvY2FsIHZhbD1gL3Vzci9saWJleGVjL1BsaXN0QnVk
	ZHkgLWMgIlByaW50IDpcIktlcm5lbCBGbGFnc1wiIiAiJHtCb290UGxpc3RQYXRofSJg
	CmlmIFtbICEgJChlY2hvICR7dmFsfSB8IGdyZXAgLWUgJHsxfSkgPSAiIiBdXQogICNp
	ZiBbWyAhICQoKC91c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1jICJQcmludCA6XCJLZXJu
	ZWwgRmxhZ3NcIiIgIiR7Qm9vdFBsaXN0UGF0aH0iIDI+L2Rldi9udWxsKSB8IGdyZXAg
	LWUgJHsxfSkgPSAiIiBdXQogIAl0aGVuCiAgCQllY2hvICJ0cnVlIgogIAllbHNlCiAg
	CQllY2hvICJmYWxzZSIKZmkKfQoKU2V0Qm9vdEFyZyAoKSB7CmlmIFtbICQoQ2hlY2tQ
	bGlzdEtleVZhbHVlICJBZGRCb290QXJnczokezF9IiAiJHtLVUNvbmZpZ1BsaXN0UGF0
	aH0iKSA9ICJ0cnVlIiBdXQoJdGhlbgoJCWlmIFtbICQoQ2hlY2tCb290QXJnICR7MX0p
	ID0gImZhbHNlIiBdXQoJCQl0aGVuCgkJCQlBZGRCb290QXJnICR7MX0KCQkJI2Vsc2UK
	CQkJIwllY2hvICJGb3VuZDogQm9vdEFyZyAkezF9IgoJCWZpCgllbHNlCgkJaWYgW1sg
	JChDaGVja0Jvb3RBcmcgJHsxfSkgPSAidHJ1ZSIgXV0KCQkJdGhlbgoJCQkJUmVtb3Zl
	Qm9vdEFyZyAkezF9CgkJCSNlbHNlCgkJCQkjZWNobyAiTm90IEZvdW5kOiBCb290QXJn
	ICR7MX0iCgkJZmkKZmkKfQoKQ2hlY2tOVlJhbUJvb3RBcmdFeGlzdCgpIHsKaWYgW1sg
	ISAkKGVjaG8gJHsyfSB8IGdyZXAgLWUgJHsxfSkgPSAiIiBdXQogIAl0aGVuIGVjaG8g
	InRydWUiCiAgCWVsc2UgZWNobyAiZmFsc2UiCmZpCn0KCkFkZE5WUmFtQm9vdEFyZygp
	IHsKbG9jYWwgdmFsPSIkezJ9IgppZiBbWyAiJHt2YWx9IiBdXQoJdGhlbiB2YWw9IiR7
	dmFsfSIiICR7MX0iCgllbHNlIHZhbD0kezF9CmZpCnZhbD0iYm9vdC1hcmdzPSIiJHt2
	YWx9IgppZiBgL3Vzci9zYmluL252cmFtICIke3ZhbH0iYAoJdGhlbgoJCWVjaG8gIlRo
	ZSBCb290IGFyZzogXCIkezF9XCIgd2FzIGFkZGVkIGluIE5WUmFtIgoJCQoJZWxzZQoJ
	CWVjaG8gIlRoZSBCb290IGFyZzogXCIkezF9XCIgZmFpbGVkIHRvIGFkZCBpbiBOVlJh
	bSIKZmkKZWNobwp9CgpSZW1vdmVOVlJhbUJvb3RBcmcoKSB7CmxvY2FsIHZhbD0kezJ9
	CnZhbD0kKGVjaG8gJHt2YWwvJHsxfS99KQp2YWw9ImJvb3QtYXJncz0iJHt2YWx9Cmlm
	IGAvdXNyL3NiaW4vbnZyYW0gIiR7dmFsfSJgCgl0aGVuCgkJZWNobyAiVGhlIEJvb3Qg
	YXJnOiBcIiR7MX1cIiB3YXMgcmVtb3ZlZCBmcm9tIE5WUmFtIgoJZWxzZQoJCWVjaG8g
	IlRoZSBCb290IGFyZzogXCIkezF9XCIgZmFpbGVkIHRvIHJlbW92ZSBmcm9tIE5WUmFt
	IgpmaQplY2hvCn0KCQpTZXROVlJhbUJvb3RBcmcgKCkgewppZiBbWyAkKENoZWNrUGxp
	c3RLZXlWYWx1ZSAiQWRkQm9vdEFyZ3M6JHsxfSIgIiR7S1VDb25maWdQbGlzdFBhdGh9
	IikgPSAidHJ1ZSIgXV0KCXRoZW4KCQlpZiBbWyAkKENoZWNrTlZSYW1Cb290QXJnRXhp
	c3QgJHsxfSAiJHsyfSIpID0gImZhbHNlIiBdXQoJCQl0aGVuCgkJCQlBZGROVlJhbUJv
	b3RBcmcgJHsxfSAiJHsyfSIKCQlmaQoJZWxzZQoJCWlmIFtbICQoQ2hlY2tOVlJhbUJv
	b3RBcmdFeGlzdCAkezF9ICIkezJ9IikgPSAidHJ1ZSIgXV0KCQkJdGhlbgoJCQkJUmVt
	b3ZlTlZSYW1Cb290QXJnICR7MX0gIiR7Mn0iCgkJZmkKZmkKfQoKTlZSYW1Cb290QXJn
	c1ZhbHVlKCkgewpsb2NhbCB2YWw9JCgvdXNyL3NiaW4vbnZyYW0gLXAgMj4vZGV2L251
	bGwgfCBncmVwIC1lICJib290LWFyZ3MiKQppZiBbWyAiJHt2YWx9IiAhPSAiIiBdXQog
	IAl0aGVuIGVjaG8gJHt2YWwvYm9vdC1hcmdzL30KICAJZWxzZSBlY2hvICIiCmZpCn0K
	CkNoZWNrTlZSYW0oKSB7CmxvY2FsIHZhbD0kKE5WUmFtQm9vdEFyZ3NWYWx1ZSkKdmFs
	PSJib290LWFyZ3M9IiIke3ZhbH0iCmlmIGAvdXNyL3NiaW4vbnZyYW0gIiR7dmFsfSIg
	Mj4vZGV2L251bGxgCgl0aGVuCiMgCQllY2hvICJDaGVja05WUmFtOiBUZXN0IFdyaXRl
	IE5WUmFtIC4uLiBPSyIKCQlyZXR1cm4gMQoJZWxzZQoJCWVjaG8gIkNoZWNrTlZSYW06
	IFRlc3QgV3JpdGUgTlZSYW0gLi4uIEVycm9yIgoJCWVjaG8KCQlyZXR1cm4gMApmaQp9
	CgpDaGVja0NvbmZpZygpIHsKaWYgW1sgLWUgIiR7S1VDb25maWdQbGlzdFBhdGh9IiBd
	XSAjIENoZWNrIGlmIFBhdGNoS2V4dCBJbmZvUGxpc3QgZXhpc3QKCXRoZW4KCQlpZiBb
	WyAkKENoZWNrUGxpc3RLZXlWYWx1ZSAiUGF0Y2hLZXh0czptc2Rvc2ZzLmtleHQiICIk
	e0tVQ29uZmlnUGxpc3RQYXRofSIpID0gInRydWUiIF1dCgkJCXRoZW4KCQkJCSNlY2hv
	ICJDaGVja0NvbmZpZzogQ2hlY2tQbGlzdEtleVZhbHVlIFBhdGNoS2V4dHM6bXNkb3Nm
	cy5rZXh0ID0gdHJ1ZSIKCQkJCWlmIFtbICR7S2Vybk9TUmVsZWFzZX0gLWx0ICIxNCIg
	XV0KCQkJCQl0aGVuCgkJCQkJCSNlY2hvICJDaGVja0NvbmZpZzoga2V4dF9tc2Rvc2Zz
	PTEiCgkJCQkJCWtleHRfbXNkb3Nmcz0xCgkJCQkJCVBhdGNoS2V4dEluZm9QbGlzdCBt
	c2Rvc2ZzLmtleHQgT1NCdW5kbGVSZXF1aXJlZCBDb25zb2xlCgkJCQkJZWxzZQoJCQkJ
	CQkjZWNobyAiQ2hlY2tDb25maWc6IGtleHRfbXNkb3Nmcz0wIgoJCQkJCQlrZXh0X21z
	ZG9zZnM9MAoJCQkJZmkKCQkJZWxzZQoJCQkJI2VjaG8gIkNoZWNrQ29uZmlnOiBDaGVj
	a1BsaXN0S2V5VmFsdWUgUGF0Y2hLZXh0czptc2Rvc2ZzLmtleHQgPSBmYWxzZSIKCQkJ
	CWtleHRfbXNkb3Nmcz0wCgkJCQkjZWNobyAiQ2hlY2tDb25maWc6IGtleHRfbXNkb3Nm
	cz0wIgoJCWZpCgoJCWlmIFtbICQoQ2hlY2tQbGlzdEtleVZhbHVlICJQYXRjaEtleHRz
	OkFwcGxlS2V4dEV4Y2x1ZGVMaXN0LmtleHQiICIke0tVQ29uZmlnUGxpc3RQYXRofSIp
	ID0gInRydWUiIF1dCgkJCXRoZW4KCQkJCSNlY2hvICJDaGVja0NvbmZpZzogQ2hlY2tQ
	bGlzdEtleVZhbHVlIFBhdGNoS2V4dHM6QXBwbGVLZXh0RXhjbHVkZUxpc3Qua2V4dCA9
	IHRydWUiCgkJCQlpZiBbWyAke0tlcm5PU1JlbGVhc2V9IC1sdCAiMTQiIF1dCgkJCQkJ
	dGhlbgoJCQkJCQkjZWNobyAiQ2hlY2tDb25maWc6IGtleHRfQXBwbGVLZXh0RXhjbHVk
	ZUxpc3Q9MSIKCQkJCQkJa2V4dF9BcHBsZUtleHRFeGNsdWRlTGlzdD0xCgkJCQkJZWxz
	ZQoJCQkJCQlrZXh0X0FwcGxlS2V4dEV4Y2x1ZGVMaXN0PTAKCQkJCQkJI2VjaG8gIkNo
	ZWNrQ29uZmlnOiBrZXh0X0FwcGxlS2V4dEV4Y2x1ZGVMaXN0PTAiCgkJCQlmaQoJCQll
	bHNlCgkJCQkjZWNobyAiQ2hlY2tDb25maWc6IENoZWNrUGxpc3RLZXlWYWx1ZSBQYXRj
	aEtleHRzOkFwcGxlS2V4dEV4Y2x1ZGVMaXN0LmtleHQgPSBmYWxzZSIKCQkJCWtleHRf
	QXBwbGVLZXh0RXhjbHVkZUxpc3Q9MAoJCQkJI2VjaG8gIkNoZWNrQ29uZmlnOiBrZXh0
	X0FwcGxlS2V4dEV4Y2x1ZGVMaXN0PTAiCgkJZmkKCgkJQ2hlY2tOVlJhbQoJCWlmIFtb
	ICQ/ID0gMSBdXQoJCQl0aGVuCgkJCQlTZXROVlJhbUJvb3RBcmcgIi12IiAiJChOVlJh
	bUJvb3RBcmdzVmFsdWUpIgoJCQkJaWYgW1sgJHtLZXJuT1NSZWxlYXNlfSAtZXEgIjE0
	IiBdXQoJCQkJCXRoZW4KCQkJCQkJU2V0TlZSYW1Cb290QXJnICJrZXh0LWRldi1tb2Rl
	PTEiICIkKE5WUmFtQm9vdEFyZ3NWYWx1ZSkiCgkJCQlmaQoJCQkJI2lmIFtbICR7S2Vy
	bk9TUmVsZWFzZX0gLWdlICIxNSIgXV0KCQkJCSMJdGhlbgoJCQkJIwkJU2V0TlZSYW1C
	b290QXJnICJyb290bGVzcz0wIiAiJChOVlJhbUJvb3RBcmdzVmFsdWUpIgoJCQkJI2Zp
	CgkJZmkKCgkJU2V0Qm9vdEFyZyAiLXYiCgkJCgkJaWYgW1sgJHtLZXJuT1NSZWxlYXNl
	fSAtZXEgIjE0IiBdXQoJCQl0aGVuCgkJCQkjZWNobyAiQ2hlY2tDb25maWc6IFNldEJv
	b3RBcmcga2V4dC1kZXYtbW9kZT0xIgoJCQkJU2V0Qm9vdEFyZyAia2V4dC1kZXYtbW9k
	ZT0xIgoJCWZpCgkJCgkJI2lmIFtbICR7S2Vybk9TUmVsZWFzZX0gLWdlICIxNSIgXV0K
	CQkjCXRoZW4KCQkjCQkjZWNobyAiQ2hlY2tDb25maWc6IFNldEJvb3RBcmcgcm9vdGxl
	c3M9MCIKCQkjCQlTZXRCb290QXJnICJyb290bGVzcz0wIgoJCSNmaQpmaQp9CgpTZXRQ
	ZXJtaXNzaW9uc01vZCgpCnsgCiNzZXQgK3gKIyBTdGFuZGFydCBjb21tYW5kczoKIyBz
	dWRvIGNob3duIC1SIHJvb3Q6d2hlZWwgL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMv
	U29tZS5rZXh0CiMgc3VkbyBjaG1vZCAtUiA3NTUgL1N5c3RlbS9MaWJyYXJ5L0V4dGVu
	c2lvbnMvU29tZS5rZXh0CglDb3VudEZpbGVzPTAKCUNvdW50S2V4dD0wCgkjQ291bnRQ
	cHA9MAoJI0NvdW50UGx1Z2luPTAKCSNDb3VudEJ1bmRsZT0wCgkjQ291bnRQbGlzdD0w
	CgkjQ291bnRCaW49MAoJQWxsQ29kZUZpbGVzPTAKCkluRGlyPSQxCnByaW50ZiAiUmVw
	YWlyaW5nIFBlcm1pc3Npb25zIGZvciBcIiR7SW5EaXJ9XCIgLi4uIgoKT2xkSUZTPSRJ
	RlMgICAjIHNhdmUgb2xkICRJRlMKSUZTPSQnXG4nICAgICAjIG5ldyAkSUZTICAKCnN0
	YXJ0dGltZT1gZGF0ZSArJXNgCgogICAgZm9yIGZpbGVzIGluICQoZmluZCAiJHtJbkRp
	cn0iKQoJICAgIGRvCgkgICAgICAgIGNhc2UgIiR7ZmlsZXN9IiBpbgoJCQkJKi5rZXh0
	fCoucHBwfCoucGx1Z2lufCouYnVuZGxlKSAgbGV0ICJDb3VudEtleHQrPTEiOyAgY2ht
	b2QgNzU1ICIke2ZpbGVzfSI7OwoJCQkJKkNvZGVEaXJlY3Rvcnl8KkNvZGVSZXF1aXJl
	bWVudHN8KkNvZGVSZXNvdXJjZXN8KkNvZGVTaWduYXR1cmV8Ki5wbGlzdHwqLnN0cmlu
	Z3N8KlBrZ0luZm98Ki5kZnV8Ki56bGlifCoucGRmfCpMSUNFTlNFfCouaWNuc3wqLnRp
	ZnwqLnRpZmYpCgkJCQlpZiBbWyAtZiAiJHtmaWxlc30iIF1dIAojICAgCQkJCUlmIGZp
	bGVzIChub3QgbGluaykgY2htb2QgNjQ0CgkJCQkJdGhlbiAKCQkJCQkJY2htb2QgNjQ0
	ICIke2ZpbGVzfSIKIyAgIAkJCQlJZiBmaWxlcyBpcyBsaW5rIGNobW9kIC1oIDc1NQog
	ICAgICAgICAgICAgICAgICAgIGVsc2UKCQkJCQkJY2htb2QgLWggNzU1ICIke2ZpbGVz
	fSIKCQkJCWZpCgkJCQlsZXQgIkFsbENvZGVGaWxlcys9MSIKCQkJCTs7CgoJCQkJKikK
	CQkgICAgICAgIGNobW9kIC1oIDc1NSAiJHtmaWxlc30iIDs7CgoJCQllc2FjCgoJCQlj
	aG93biAtaCByb290OndoZWVsICIke2ZpbGVzfSIKCgkgICAgICAgIGxldCAiQ291bnRG
	aWxlcys9MSIKCQogICAgICAgICAgICBpZiBbICQoKENvdW50RmlsZXMvNDAwKjQwMCkp
	IC1lcSAke0NvdW50RmlsZXN9IF0gIyBjb3VudCB2ZXJ5IHF1aWNrbHkKCQkJCXRoZW4K
	CQkJCQkgcHJpbnRmICIuIgoJCQlmaQoKICAgIAlkb25lCgpmaW5pc2h0aW1lPWBkYXRl
	ICslc2AKCklGUz0kT2xkSUZTICAgIyByZXR1cm4gb2xkICRJRlMKCnByaW50ZiAiIERv
	bmUuXG4iCgojIGVjaG8KI2VjaG8gIi0tIFRvdGFsIHByb2Nlc3NlZDogJHtDb3VudEZp
	bGVzfSBmaWxlcyAoJHtDb3VudEtleHR9IGtleHRzKSBmb3IgJCgoJGZpbmlzaHRpbWUt
	JHN0YXJ0dGltZSkpIHNlYy4iCmVjaG8gIi0tIFRvdGFsIHByb2Nlc3NlZDogJHtDb3Vu
	dEZpbGVzfSBmaWxlcyBmb3IgJCgoJGZpbmlzaHRpbWUtJHN0YXJ0dGltZSkpIHNlYy4i
	CgplY2hvCgp9CgpTeXN0ZW1DYWNoZVVwZGF0ZSgpIHsKCiNlY2hvICJTeXN0ZW1DYWNo
	ZVVwZGF0ZSgpIC0gJHtTeXN0ZW1DYWNoZUZpbGV9IgojZWNobyAiU3lzdGVtQ2FjaGVV
	cGRhdGUoKSBEZXRlY3RlZCAgLi4uICAke1N5c3RlbU5hbWV9IgoKbGV0ICJjb3VudD0w
	IgojZWNobyAiY291bnQ9JHtjb3VudH0iCiNlY2hvICJUaW1lT3V0PSR7VGltZU91dH0i
	CgpwcmludGYgIlVwZGF0aW5nIHRoZSBzeXN0ZW0gY2FjaGUgZmlsZXMgLiIKICAgICAg
	ICAKcm0gLVJmIC9TeXN0ZW0vTGlicmFyeS9DYWNoZXMvY29tLmFwcGxlLmJvb3RzdGFt
	cHMvKiAyPi9kZXYvbnVsbApybSAtUmYgL1N5c3RlbS9MaWJyYXJ5L0NhY2hlcy9jb20u
	YXBwbGUua2VybmVsY2FjaGVzLyogMj4vZGV2L251bGwKcm0gLVJmIC9TeXN0ZW0vTGli
	cmFyeS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2FjaGVzL0RpcmVjdG9yaWVzL0xpYnJh
	cnkvRXh0ZW5zaW9ucy8qIDI+L2Rldi9udWxsCnJtIC1SZiAvU3lzdGVtL0xpYnJhcnkv
	Q2FjaGVzL2NvbS5hcHBsZS5rZXh0LmNhY2hlcy9EaXJlY3Rvcmllcy9TeXN0ZW0vTGli
	cmFyeS9FeHRlbnNpb25zLyogMj4vZGV2L251bGwKcm0gLVJmIC9TeXN0ZW0vTGlicmFy
	eS9DYWNoZXMvY29tLmFwcGxlLmtleHQuY2FjaGVzL1N0YXJ0dXAvKiAyPi9kZXYvbnVs
	bApybSAtUmYgL1N5c3RlbS9MaWJyYXJ5L0V4dGVuc2lvbnMvQ2FjaGVzLyogMj4vZGV2
	L251bGwKcm0gLWYgIiR7U3lzdGVtQ2FjaGVGaWxlfSIgMj4vZGV2L251bGwKICAgICAg
	ICAKIyBmb3IgTElPTgojdG91Y2ggIiR7V29ya0RpcjF9Igoja2lsbGFsbCAtSFVQIGtl
	eHRkJgoja2V4dGNhY2hlIC1zeXN0ZW0tY2FjaGVzJgoja2V4dGNhY2hlIC11cGRhdGUt
	dm9sdW1lIC8gLWZvcmNlJgojZWNobyAiV29ya0RpcjEgLSAke1dvcmtEaXIxfSIKI2Vj
	aG8gIldvcmtEaXIyIC0gJHtXb3JrRGlyMn0iCgp0b3VjaCAiJHtXb3JrRGlyMX0iCnRv
	dWNoICIke1dvcmtEaXIyfSIKI2tpbGxhbGwgLUhVUCBrZXh0ZCYKCiMga2V4dGNhY2hl
	IGNyZWF0ZXMgc2V2ZXJhbCBraW5kcyBvZiBrZXh0IGNhY2hlcy4gIFRoZSBmaXJzdCBp
	cyB0aGUgcHJlbGlua2VkIGtlcm5lbCAoYWxzbyBrbm93biBhcyBhIGBga2VybmVsY2Fj
	aGUnJyksCiMgd2hpY2ggY29udGFpbnMgdGhlIGtlcm5lbCBjb2RlIGFuZCB0aGUgZXNz
	ZW50aWFsIGZpbGVzIChpbmZvIGRpY3Rpb25hcnkgYW5kIGV4ZWN1dGFibGUpIGZvciBh
	biBhcmJpdHJhcnkgc2V0IG9mIGtleHRzLAojIHdpdGgga2V4dCBleGVjdXRhYmxlcyBs
	aW5rZWQgZm9yIHRoZWlyIHJ1bi10aW1lIGxvY2F0aW9ucy4gQSBwcmVsaW5rZWQga2Vy
	bmVsIHNwZWVkcyBlYXJseSBzeXN0ZW0gc3RhcnR1cCBieSBjb2xsZWN0aW5nCiMgdGhl
	c2UgbWFueSBmaWxlcyBpbiBvbmUgcGxhY2UgZm9yIHRoZSBib290ZXIgdG8gbG9jYXRl
	LCBhbmQgYnkgaGF2aW5nIGVhY2gga2V4dCBsaW5rZWQgaW4gcGxhY2UgYW5kIHJlYWR5
	IHRvIHN0YXJ0IGFzCiMgbmVlZGVkLiAgVG8gY3JlYXRlIG9yIHVwZGF0ZSBhIHByZWxp
	bmtlZCBrZXJuZWwsIHVzZSB0aGUgLXByZWxpbmtlZC1rZXJuZWwgb3IgLXN5c3RlbS1w
	cmVsaW5rZWQta2VybmVsIG9wdGlvbi4KCiMgT3RoZXIga2V4dCBjYWNoZXMgY29sbGVj
	dCBzcGVjaWZpYyBkYXRhIGZyb20gdGhlIGluZm8gZGljdGlvbmFyaWVzIG9mIGtleHRz
	LiBUaGVyZSBhcmUgbWFueSBpbmRpdmlkdWFsIGNhY2hlcyBmb3IKIyBzcGVjaWZpYyBz
	dWJzZXRzIG9mIGRhdGE7IHRoZXkgY2FyZSBjb2xsZWN0aXZlbHkgY2FsbGVkIHN5c3Rl
	bSBpbmZvIGNhY2hlcy4gVGhlc2UgY2FjaGVzIGFyZSB1c2VkIHRvIG9wdGltaXplIGRp
	c2sgSS9PCiMgd2hlbiB3b3JraW5nIHdpdGgga2V4dHMgZHVyaW5nIGxhdGUgc3lzdGVt
	IHN0YXJ0dXAgYW5kIGJleW9uZC4gVG8gdXBkYXRlIHRoZSBzeXN0ZW0ga2V4dCBpbmZv
	IGNhY2hlcyBmb3IgdGhlIHJvb3Qgdm9sdW1lLAojIHVzZSB0aGUgLXN5c3RlbS1jYWNo
	ZXMgb3B0aW9uCgojIFRoZSBsYXN0IHR5cGUgb2Yga2V4dCBjYWNoZSBpcyB0aGUgbWtl
	eHQgY2FjaGUsIHdoaWNoIGNvbnRhaW5zIHRoZSBlc3NlbnRpYWwgZmlsZXMgKGluZm8g
	ZGljdGlvbmFyeSBhbmQgZXhlY3V0YWJsZSkgZm9yCiMgYW4gYXJiaXRyYXJ5IHNldCBv
	ZiBrZXh0czsgZXhlY3V0YWJsZXMgYXJlIHVucmVsb2NhdGVkLiBNa2V4dCBpcyBhIGxl
	Z2FjeSBmb3JtYXQgdGhhdCB3YXMgdXNlZCBvbiBwcmlvciByZWxlYXNlcyBvZgojIE1h
	YyBPUyBYLiBUbyBjcmVhdGUgYW4gbWtleHQgY2FjaGUsIHVzZSBvbmUgb2YgdGhlIC1t
	a2V4dCwgLW1rZXh0MSwgb3IgLW1rZXh0MiBvcHRpb25zLCB3aXRoIGFwcHJvcHJpYXRl
	IGZpbHRlcmluZwojIG9wdGlvbnMsIGRlc2NyaWJlZCBiZWxvdy4KCiMgLWwsIC1sb2Nh
	bC1yb290CiMgU3BlY2lmaWVzIHRoYXQgZm9yIGRpcmVjdG9yeSBhcmd1bWVudHMsIG9u
	bHkgZXh0ZW5zaW9ucyByZXF1aXJlZCBmb3IgbG9jYWwgZGlzayBib290IGJlIGluY2x1
	ZGVkIGluIGEgY2FjaGUuCiMgS2V4dHMgZXhwbGljaXRseSBpbmRpY2F0ZWQgYnkgbmFt
	ZSBvciBpZGVudGlmaWVyIGFyZSBpbmNsdWRlZCB1bmNvbmRpdGlvbmFsbHk7IHRvIGFw
	cGx5IHRoaXMgZmlsdGVyIHRvIGFsbCBrZXh0cywKIyB1c2UgdGhlIC1sb2NhbC1yb290
	LWFsbCBvcHRpb24uIC1MLCAtbG9jYWwtcm9vdC1hbGwKIyBTcGVjaWZpZXMgdGhhdCBv
	bmx5IGV4dGVuc2lvbnMgcmVxdWlyZWQgZm9yIGxvY2FsIGRpc2sgYm9vdCBiZSBpbmNs
	dWRlZCBpbiBhIGNhY2hlLCByZWdhcmRsZXNzIG9mIHdoZXRoZXIgdGhleSBhcmUKIyBm
	cm9tIGEgcmVwb3NpdG9yeSBkaXJlY3Rvcnkgb3IgYXJlIGV4cGxpY2l0bHkgaW5kaWNh
	dGVkIGJ5IG5hbWUgb3IgaWRlbnRpZmllci4gIFRvIGFwcGx5IHRoaXMgcmVzdHJpY3Rp
	b24gb25seSB0byBrZXh0cwojIGZyb20gcmVwb3NpdG9yeSBkaXJlY3RvcmllcywgdXNl
	IHRoZSAtbG9jYWwtcm9vdCBvcHRpb24uCgprZXh0Y2FjaGUgLXN5c3RlbS1jYWNoZXMg
	LWxvY2FsLXJvb3QtYWxsJiAjIGZvciBtYWtpbmcgMzImNjRiaXQgaW5mbyBkaWN0aW9u
	YXJpZXMga2V4dCBjYWNoZXMKI2tleHRjYWNoZSAtdXBkYXRlLXZvbHVtZSAvIC1mb3Jj
	ZSYKCiMgLWUsIC1zeXN0ZW0tbWtleHQKIyBUaGlzIG9wdGlvbiBpcyBwcm92aWRlZCBm
	b3IgbGVnYWN5IGNvbXBhdGliaWxpdHksIGFuZCBpcyBzaW1wbHkgYW4gYWxpYXMgdG8g
	LXN5c3RlbS1wcmVsaW5rZWQta2VybmVsLgogICAgICAgICAKI2tleHRjYWNoZSAtc3lz
	dGVtLW1rZXh0IC1sb2NhbC1yb290JgoKI2tleHRjYWNoZSAtc3lzdGVtLXByZWxpbmtl
	ZC1rZXJuZWwmCgp3aGlsZSBzbGVlcCAxCglkbwoJCWlmIFsgLWYgIiR7U3lzdGVtQ2Fj
	aGVGaWxlfSIgXQoJCQl0aGVuCgkJCQlwcmludGYgIiBEb25lXG4iCgkJCQlpZiBbWyAi
	JHtTeXN0ZW1DYWNoZUZpbGUjIyoufSIgPSAibWtleHQiIF1dCgkJCQkJdGhlbgoJCQkJ
	CQllY2hvCgkJCQkJCXByaW50ZiAiVXBkYXRpbmcgdGhlIHN5c3RlbSBjYWNoZSBmaWxl
	cyBmb3IgQ2xvdmVyIC4iCgkJCQkJCWtleHRjYWNoZSAtc3lzdGVtLXByZWxpbmtlZC1r
	ZXJuZWwmCgkJCQkJCXdoaWxlIHNsZWVwIDEKCQkJCQkJCWRvCgkJCQkJCQkJaWYgWyAt
	ZiAiJHtTeXN0ZW1DYWNoZUZpbGUlLyp9Ii9rZXJuZWxjYWNoZSogXQoJCQkJCQkJCQl0
	aGVuCgkJCQkJCQkJCQlwcmludGYgIiBEb25lXG4iCgkJCQkJCQkJCQllY2hvICItLSBC
	dWlsZCB0aW1lID0gJGNvdW50IHNlYy5cbiIKCQkJCQkJCQkJCXJldHVybgoJCQkJCQkJ
	CWVsaWYgWyAkY291bnQgLWd0ICQoKDEyKlRpbWVPdXQtMSkpIF0gICMgdGltZW91dDI9
	MTIqdGltZW91dD0xMioxMD0xMjBzZWMKCQkJCQkJCQkJdGhlbgoJCQkJCQkJCQkJcHJp
	bnRmICIgRmFsc2VcbiIKCQkJCQkJCQkJCWVjaG8gIi0tIFRpbWVvdXQgJHtjb3VudH0g
	c2VjLlxuIgoJCQkJCQkJCQkJZWNobyAiLS0gVW5rbm93biBlcnJvciAtLSIKCQkJCQkJ
	CQkJCXJldHVybgoJCQkJCQkJCWZpCgkJCQkJCQkJbGV0ICJjb3VudCs9MSIKCQkJCQkJ
	CQlpZiBbIGBleHByICIkY291bnQiICUgMmAgLWVxICIwIiBdCgkJCQkJCQkJCXRoZW4K
	CQkJCQkJCQkJCXByaW50ZiAiLiIKCQkJCQkJCQlmaQoJCQkJCQkJZG9uZQoJCQkJZmkK
	CQkJCSNpZiBbICRjb3VudCAtZ3QgJFRpbWVPdXQgXQoJCQkJI3RoZW4KCQkJCQkjZWNo
	byAiLS0gQnVpbGQgdGltZSA9ICQoKGNvdW50LVRpbWVPdXQpKSBzZWMiCgkJCQkjZWxz
	ZQoJCQkJCWVjaG8gIi0tIEJ1aWxkIHRpbWUgPSAkY291bnQgc2VjLlxuIgoJCQkJI2Zp
	CgkJCQlyZXR1cm4KCQllbGlmIFsgJGNvdW50IC1lcSAkVGltZU91dCBdCgkJCXRoZW4K
	CQkJCSNwcmludGYgIiBGYWxzZVxuIgoJCQkJI2VjaG8gIi0tIFRpbWVvdXQgJGNvdW50
	IHNlYyIKCQkJCSNlY2hvCgkJCQkjcHJpbnRmICJGb3JjZWQgdXBkYXRpbmcgdGhlIHN5
	c3RlbSBjYWNoZSBmaWxlcyAiCgkJCQkjdG91Y2ggIiR7V29ya0RpcjF9IgoJCQkJa2V4
	dGNhY2hlIC11cGRhdGUtdm9sdW1lIC8gLWZvcmNlJgoJCWVsaWYgWyAkY291bnQgLWd0
	ICQoKDEyKlRpbWVPdXQtMSkpIF0gICMgdGltZW91dDI9MTIqdGltZW91dD0xMioxMD0x
	MjBzZWMKCQkJdGhlbgoJCQkJcHJpbnRmICIgRmFsc2VcbiIKCQkJCWVjaG8gIi0tIFRp
	bWVvdXQgJHtjb3VudH0gc2VjLlxuIgoJCQkJZWNobyAiLS0gVW5rbm93biBlcnJvciAt
	LSIKCQkJCXJldHVybgoJCWZpCgkJbGV0ICJjb3VudCs9MSIKCgkJaWYgWyBgZXhwciAi
	JGNvdW50IiAlIDJgIC1lcSAiMCIgXQoJCQl0aGVuCgkJCQlwcmludGYgIi4iCgkJZmkK
	CgoJZG9uZQp9CgpwYWNrTWtleHQoKSB7CgoJCglGdWxsRHJvcEluRGlyPSQxCglEaXJE
	cm9wSW5EaXI9JChkaXJuYW1lICIke0Z1bGxEcm9wSW5EaXJ9IikgCglCYXNlRHJvcElu
	RGlyPSQoYmFzZW5hbWUgIiR7RnVsbERyb3BJbkRpcn0iKSAKCQppZiBbWyBgZmluZCAi
	JHtGdWxsRHJvcEluRGlyfSIgLW5hbWUgKi5rZXh0YCBdXQoKICAgIHRoZW4KY2F0IDw8
	RU9GClRhc2s6IFBhY2sgIiR7RnVsbERyb3BJbkRpcn0iCiAgICAgICAgdG8gIiR7RGly
	RHJvcEluRGlyfS9FeHRlbnNpb25zLm1rZXh0IgpFT0YKCQkKICAgIAllY2hvCiAgICAJ
	CiAgICAgICAgU2V0UGVybWlzc2lvbnNNb2QgIiR7RnVsbERyb3BJbkRpcn0iCgogICAg
	ICAgIGlmIFsgLWUgIiREaXJEcm9wSW5EaXIvRXh0ZW5zaW9ucy5ta2V4dCIgXQogICAg
	ICAgICAgICB0aGVuCiAgICAgICAgICAgICAgICBwcmludGYgIkJhY2tVcCBcIkV4dGVu
	c2lvbnMubWtleHRcIiB0byBcIkV4dGVuc2lvbnMuYmFrLm1rZXh0XCIgLi4uICIKICAg
	ICAgICAgICAgICAgIG12IC1mICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtleHQi
	ICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMuYmFrLm1rZXh0IgogICAgICAgICAgICAg
	ICAgcHJpbnRmICJEb25lLlxuIgogICAgICAgICAgICAgICAgZWNobwogICAgICAgIGZp
	CgkKICAgIAl0b3VjaCAiJEZ1bGxEcm9wSW5EaXIiCiAgICAJCiAgICAJc3RhcnR0aW1l
	PWBkYXRlICslc2AKCiAgICAJaTM4Nl9wcGNfa2V4dHM9JCgga2V4dGZpbmQgLS0gIiR7
	RnVsbERyb3BJbkRpcn0iIFwoIC1hcmNoLWV4YWN0IGkzODYgLW9yIC1hcmNoLWV4YWN0
	IHBwYyxpMzg2IFwpICkiIgogICAgICAgIAoJCWlmIFtbICIke1Nub3dMZW9FeGlzdH0i
	ID0gIm5vIiB8fCAhICIiID0gIiR7aTM4Nl9wcGNfa2V4dHN9IiBdXQoKIwkJCUlmIG9u
	ZSBvZiB0aGUgY29uZGl0aW9ucyBpcyB0cnVlIHRoZW4JCgkJCXRoZW4KCQkJCQlwcmlu
	dGYgIkZvdW5kIGkzODYgKGFyY2gpIG9ubHkga2V4dChzKS5cbiIKCQkJCQlwcmludGYg
	IlBhY2tpbmcgaTM4NiAoYXJjaCkgXCJFeHRlbnNpb25zLm1rZXh0XCIgLi4uICIKCSAg
	ICAJCQkKCSAgICAJCQlpZiAoIGtleHRjYWNoZSAtYSBpMzg2IC16IC1tICIkRGlyRHJv
	cEluRGlyL0V4dGVuc2lvbnMubWtleHQiICIkRnVsbERyb3BJbkRpciIgKSAKCSAgICAJ
	CQkJdGhlbgoJICAgIAkJCQkJcHJpbnRmICJEb25lLlxuIgoJICAgIAkJCQkJZmluaXNo
	dGltZT1gZGF0ZSArJXNgCgkJICAgCSAJCQkJZWNobyAiLS0gQnVpbGQgdGltZSA9ICQo
	KCRmaW5pc2h0aW1lLSRzdGFydHRpbWUpKSBzZWMuIgoJICAgIAkJCQkJZWNobwoJICAg
	IAkJCQkJcHJpbnRmICJSZXBhaXIgXCJFeHRlbnNpb25zLm1rZXh0XCIgcGVybWlzc2lv
	biAuLi4gIgoJICAgIAkJCQoJICAgIAkJCQkJY2htb2QgLVIgNjQ0ICIkRGlyRHJvcElu
	RGlyL0V4dGVuc2lvbnMubWtleHQiCgkgICAgCQkJCQljaG93biAtUiByb290OndoZWVs
	ICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtleHQiCgkgICAgCQkJCgkJICAgIAkJ
	CQlwcmludGYgIkRvbmUuXG4iCgkgICAgCQkJCQllY2hvCgkgICAgCQkJCWVsc2UgCgkg
	ICAgCQkJCQllY2hvCgkgICAgCQkJCQllY2hvICJTb3JyeSwgY291bGQgbm90IGNyZWF0
	ZSBcIkV4dGVuc2lvbnMubWtleHRcIiIKCSAgICAJCQkJCWVjaG8KCSAgICAJCQkJCXJl
	dHVybgoJCgkgICAgCQkJZmkKCQkJZWxzZQojCQkJCQlwcmludGYgIkZvdW5kIGkzODYv
	eDg2XzY0IChhcmNoKSBrZXh0KHMpLlxuIgoJCQkJCXByaW50ZiAiUGFja2luZyBpMzg2
	L3g4Nl82NCAoYXJjaCkgXCJFeHRlbnNpb25zLm1rZXh0XCIgLi4uICIKCiMgICAgICAg
	ICAgICAgICAgICAgL3Vzci9zYmluL2tleHRjYWNoZSAteiAtbSAvRXh0cmEvRXh0ZW5z
	aW9ucy5ta2V4dCAvRXh0cmEvRXh0ZW5zaW9ucy8JCQkJCQoJICAgIAkJCWlmICgga2V4
	dGNhY2hlIC16IC1tICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtleHQiICIkRnVs
	bERyb3BJbkRpciIgKSAKCSAgICAJCQkJdGhlbgoJICAgIAkJCQkJcHJpbnRmICJEb25l
	LlxuIgoJICAgIAkJCQkJZmluaXNodGltZT1gZGF0ZSArJXNgCgkJICAgCSAJCQkJZWNo
	byAiLS0gQnVpbGQgdGltZSA9ICQoKCRmaW5pc2h0aW1lLSRzdGFydHRpbWUpKSBzZWMu
	IgoJICAgIAkJCQkJZWNobwoJICAgIAkJCQkJcHJpbnRmICJSZXBhaXIgXCJFeHRlbnNp
	b25zLm1rZXh0XCIgcGVybWlzc2lvbiAuLi4gIgoJICAgIAkJCQoJICAgIAkJCQkJY2ht
	b2QgLVIgNjQ0ICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtleHQiCgkgICAgCQkJ
	CQljaG93biAtUiByb290OndoZWVsICIkRGlyRHJvcEluRGlyL0V4dGVuc2lvbnMubWtl
	eHQiCgkgICAgCQkJCgkJICAgIAkJCQlwcmludGYgIkRvbmUuXG4iCgkgICAgCQkJCQll
	Y2hvCgkgICAgCQkJCWVsc2UgCgkgICAgCQkJCQllY2hvCgkgICAgCQkJCQllY2hvICJT
	b3JyeSwgY291bGQgbm90IGNyZWF0ZSBcIkV4dGVuc2lvbnMubWtleHRcIiIKCSAgICAJ
	CQkJCWVjaG8KCSAgICAJCQkJCXJldHVybgoJICAgIAkJCWZpCgkJZmkKCWVsc2UKCQlw
	cmludGYgIk5vdGhpbmcgdG8gZG8gLS0gS2V4dCBmaWxlcyBub3QgZm91bmQuXG4iCgkJ
	cHJpbnRmICJcbiIKZmkKfSAKCnVucGFja01rZXh0KCkJewoKY2F0IDw8RU9GClRhc2s6
	IFVuUGFjayAiJHtGdWxsRHJvcE5hbWV9IgogICAgICAgICAgdG8gIiR7SG9tZURpcn0v
	RGVza3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudCIKRU9GCgllY2hvCgoJcHJpbnRm
	ICJTZWFyY2ggXCIke0Jhc2VEcm9wTmFtZX1fY29udGVudFwiIC4uLiAiCgoJaWYgWyAt
	ZCAiJHtIb21lRGlyfS9EZXNrdG9wLyR7QmFzZURyb3BOYW1lfV9jb250ZW50IiBdCgkJ
	dGhlbgoJCQlwcmludGYgIkZvdW5kLlxuIgoJCQlybSAtcmYgIiR7SG9tZURpcn0vRGVz
	a3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudC5iYWsiCgkJCWVjaG8KCQkJcHJpbnRm
	ICJCYWNrVXAgXCIke0Jhc2VEcm9wTmFtZX1fY29udGVudFwiIHRvIFwiJHtCYXNlRHJv
	cE5hbWV9X2NvbnRlbnQuYmFrXCIgLi4uICIKCQkJbXYgLWYgIiR7SG9tZURpcn0vRGVz
	a3RvcC8ke0Jhc2VEcm9wTmFtZX1fY29udGVudC8iICIke0hvbWVEaXJ9L0Rlc2t0b3Av
	JHtCYXNlRHJvcE5hbWV9X2NvbnRlbnQuYmFrLyIgCgkJCXByaW50ZiAiRG9uZS5cbiIK
	CQkJbWtkaXIgLXAgLW0gNzc1ICIke0hvbWVEaXJ9L0Rlc2t0b3AvJHtCYXNlRHJvcE5h
	bWV9X2NvbnRlbnQiCgkJCWVjaG8KCQllbHNlCgkJCXByaW50ZiAiTm90IEZvdW5kLlxu
	IgoJCQllY2hvCgkJCW1rZGlyIC1wIC1tIDc3NSAiJHtIb21lRGlyfS9EZXNrdG9wLyR7
	QmFzZURyb3BOYW1lfV9jb250ZW50IgoJZmkKCQkJcHJpbnRmICJVblBhY2tpbmcgXCIk
	e0Jhc2VEcm9wTmFtZX1cIiAuLi4gIgoKCW1rZXh0dW5wYWNrIC12IC1kICIke0hvbWVE
	aXJ9L0Rlc2t0b3AvJHtCYXNlRHJvcE5hbWV9X2NvbnRlbnQiICIkRnVsbERyb3BOYW1l
	IiAyPiAvZGV2L251bGwKCXByaW50ZiAiRG9uZS5cbiIKCWVjaG8KCn0KClVwZGF0ZU9T
	S2V4dFNpZ0V4Y2VwdGlvbkxpc3QoKSB7CgpLZXh0c1Rlc3REaXI9IiR7MX0iCiNlY2hv
	ICIxPSR7MX0iCiNlY2hvICJLZXh0c1Rlc3REaXI9JHtLZXh0c1Rlc3REaXJ9IgoKIyBj
	YXQgPDxFT0YKIyBUYXNrOglVcGRhdGUgT1NLZXh0U2lnRXhjZXB0aW9uTGlzdC4KIyAg
	CiMgRU9GCgppZiBbWyAhICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9QbGlz
	dFBhdGh9IiBdXSAjIENoZWNrIGlmIEFwcGxlS2V4dEV4Y2x1ZGVMaXN0LmtleHQgZXhp
	c3QKCXRoZW4KCQkjZWNobyAiQXBwbGVLZXh0RXhjbHVkZUxpc3Qua2V4dCBub3QgZm91
	bmQiCgkJcmV0dXJuCmZpCgpBcHBsZUtleHRFeGNsdWRlTGlzdEtleHRDRkJ1bmRsZVZl
	cnNpb249IiQoL3Vzci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIlByaW50IENGQnVuZGxl
	VmVyc2lvbiIgIiR7QXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aH0i
	IDI+L2Rldi9udWxsKSIKZWNobyAiRm91bmQgJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRk
	eSAtYyAiUHJpbnQgQ0ZCdW5kbGVJZGVudGlmaWVyIiAiJHtBcHBsZUtleHRFeGNsdWRl
	TGlzdEtleHRJbmZvUGxpc3RQYXRofSIgMj4vZGV2L251bGwpOiRBcHBsZUtleHRFeGNs
	dWRlTGlzdEtleHRDRkJ1bmRsZVZlcnNpb24iCmlmIFtbICEgLWUgIiR7QXBwbGVLZXh0
	RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aC9JbmZvLnBsaXN0L0luZm9fJEFwcGxl
	S2V4dEV4Y2x1ZGVMaXN0S2V4dENGQnVuZGxlVmVyc2lvbi5wbGlzdH0iIF1dCgl0aGVu
	CgkJQmFja1VwSW5mb1BsaXN0PSIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9Q
	bGlzdFBhdGgvSW5mby5wbGlzdC9JbmZvXyRBcHBsZUtleHRFeGNsdWRlTGlzdEtleHRD
	RkJ1bmRsZVZlcnNpb24ucGxpc3R9IgoJCWNwICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0
	S2V4dEluZm9QbGlzdFBhdGh9IiAiJHtCYWNrVXBJbmZvUGxpc3R9IgoJCSMgZWNobyAk
	e0EjKkFCfQoJCWVjaG8gIkJhY2t1cCAke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dElu
	Zm9QbGlzdFBhdGgjKkNvbnRlbnRzL30gdG8gJHtCYWNrVXBJbmZvUGxpc3QjKkNvbnRl
	bnRzL30iCgkJCmZpCmVjaG8KCnByaW50ZiAiVXBkYXRpbmcgT1NLZXh0U2lnRXhjZXB0
	aW9uTGlzdCAuIgoKc3RhcnR0aW1lPWBkYXRlICslc2AKCkFsbENoZWNrS2V4dHNDb3Vu
	dD0wCkFkZGVkVW5TaWdLZXh0c0NvdW50PTAKVXBkYXRlZFVuU2lnS2V4dHNDb3VudD0w
	CkVycm9yc0NvdW50PTAKCgpLZXh0c0luZm9QbGlzdFBhdGg9YGZpbmQgIiR7S2V4dHNU
	ZXN0RGlyfSIgLW5hbWUgSW5mby5wbGlzdGAKI2VjaG8gIiR7S2V4dHNJbmZvUGxpc3RQ
	YXRofSIKCiMgS2V4dEFyY2g9JChrZXh0ZmluZCAiJHtDdXJyZW50S2V4dH0iIC1yZXBv
	cnQgLW5vLWhlYWRlciAtcGlkKQojIApPbGRJRlM9JElGUyAgICMgc2F2ZSBvbGQgJElG
	UwpJRlM9JCdcbicgICAgICMgbmV3ICRJRlMgIAojIAojZWNobyAiRXhhbWluZSBBcHBs
	ZUtleHRFeGNsdWRlTGlzdC5rZXh0IGZvciBlbnRyeToiCmZvciBDdXJyZW50S2V4dElu
	Zm9QbGlzdFBhdGggaW4gJHtLZXh0c0luZm9QbGlzdFBhdGh9CglkbwoJIyBGb3VuZCBJ
	bmZvIGZvciBDdXJyZW50IEtleHQgCglDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmll
	cj0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgQ0ZCdW5kbGVJZGVu
	dGlmaWVyIiAiJHtDdXJyZW50S2V4dEluZm9QbGlzdFBhdGh9IiAyPi9kZXYvbnVsbCki
	CiAJaWYgW1sgISAiJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn0iIF1dCiAg
	CQl0aGVuCiAgCQkJI2VjaG8gIk5vdCBGb3VuZCBDRkJ1bmRsZUlkZW50aWZpZXIgaW46
	IFwiJHtDdXJyZW50S2V4dEluZm9QbGlzdFBhdGh9XCIiCiAgCQkJbGV0ICJFcnJvcnND
	b3VudCs9MSIKICAJCWVsc2UKCQkJI2VjaG8gIkZvdW5kIENGQnVuZGxlSWRlbnRpZmll
	ciBpbjogXCIke0N1cnJlbnRLZXh0SW5mb1BsaXN0UGF0aH1cIjoke0N1cnJlbnRLZXh0
	Q0ZCdW5kbGVJZGVudGlmaWVyfSIKICAJCQlDdXJyZW50S2V4dENGQnVuZGxlVmVyc2lv
	bj0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgQ0ZCdW5kbGVWZXJz
	aW9uIiAiJHtDdXJyZW50S2V4dEluZm9QbGlzdFBhdGh9IiAyPi9kZXYvbnVsbCkiCiAg
	CQkJaWYgW1sgISAiJHtDdXJyZW50S2V4dENGQnVuZGxlVmVyc2lvbn0iIF1dCiAgCQkJ
	CXRoZW4KICAJCQkJCSNlY2hvICJOb3QgRm91bmQgQ0ZCdW5kbGVWZXJzaW9uIGluOiBc
	IiR7Q3VycmVudEtleHRJbmZvUGxpc3RQYXRofVwiIgogIAkJCQkJbGV0ICJFcnJvcnND
	b3VudCs9MSIKCQkJCWVsc2UKCQkJCQkjZWNobyAiRm91bmQ6ICR7Q3VycmVudEtleHRD
	RkJ1bmRsZUlkZW50aWZpZXJ9OiR7Q3VycmVudEtleHRDRkJ1bmRsZVZlcnNpb259IgoJ
	CQkJCUN1cnJlbnRLZXh0X0NvZGVTaWduYXR1cmVQYXRoPSIke0N1cnJlbnRLZXh0SW5m
	b1BsaXN0UGF0aC9JbmZvLnBsaXN0L19Db2RlU2lnbmF0dXJlL0NvZGVSZXNvdXJjZXN9
	IgoJCQkJCWxldCAiQWxsQ2hlY2tLZXh0c0NvdW50Kz0xIgoJCQkJCSNlY2hvICIke0N1
	cnJlbnRLZXh0X0NvZGVTaWduYXR1cmVQYXRofSIKCQkJCQlpZiBbWyAhIC1lICIke0N1
	cnJlbnRLZXh0X0NvZGVTaWduYXR1cmVQYXRofSIgXV0KCQkJCQkJdGhlbgoJCQkJCQkJ
	I2VjaG8gIkZvdW5kOiBfQ29kZVNpZ25hdHVyZVBhdGggZm9yICR7Q3VycmVudEtleHRD
	RkJ1bmRsZUlkZW50aWZpZXJ9OiR7Q3VycmVudEtleHRDRkJ1bmRsZVZlcnNpb259IgoJ
	CQkJCQkJQ0ZCdW5kbGVWZXJzaW9uRm91bmQ9IiQoL3Vzci9saWJleGVjL1BsaXN0QnVk
	ZHkgLWMgIlByaW50IE9TS2V4dFNpZ0V4Y2VwdGlvbkxpc3Q6JHtDdXJyZW50S2V4dENG
	QnVuZGxlSWRlbnRpZmllcn0iICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9Q
	bGlzdFBhdGh9IiAyPi9kZXYvbnVsbCkiCiAgCQkJCQkJCWlmIFtbICIke0NGQnVuZGxl
	VmVyc2lvbkZvdW5kfSIgXV0KICAJCQkJCQkJCXRoZW4KCQkJCQkJCQkJI0NGQnVuZGxl
	VmVyc2lvbkZvdW5kPSIkKC91c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1jICJQcmludCBP
	U0tleHRTaWdFeGNlcHRpb25MaXN0OiR7Q3VycmVudEtleHRDRkJ1bmRsZUlkZW50aWZp
	ZXJ9IHN0cmluZyIgIiR7QXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0
	aH0iIDI+L2Rldi9udWxsKSIKCQkJCQkJCQkJI2VjaG8gIiR7Q0ZCdW5kbGVWZXJzaW9u
	Rm91bmR9IgogIAkJCQkJCQkJCSNwcmludGYgIiR7Q3VycmVudEtleHRDRkJ1bmRsZUlk
	ZW50aWZpZXJ9OiR7Q0ZCdW5kbGVWZXJzaW9uRm91bmR9IEZvdW5kXG4iCgkJCQkJCQkJ
	CWlmICEgW1sgIiR7Q0ZCdW5kbGVWZXJzaW9uRm91bmR9IiA9ICIke0N1cnJlbnRLZXh0
	Q0ZCdW5kbGVWZXJzaW9ufSIgXV0KCQkJCQkJCQkJCXRoZW4KCQkJCQkJCQkJCQkjUmVz
	dWx0PSIkKC91c3IvbGliZXhlYy9QbGlzdEJ1ZGR5IC1jICJEZWxldGUgT1NLZXh0U2ln
	RXhjZXB0aW9uTGlzdDoke0N1cnJlbnRLZXh0Q0ZCdW5kbGVJZGVudGlmaWVyfSIgIiR7
	QXBwbGVLZXh0RXhjbHVkZUxpc3RLZXh0SW5mb1BsaXN0UGF0aH0iKSIKCQkJCQkJCQkJ
	CQkjcHJpbnRmICJVcGRhdGUgJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn06
	JHtDRkJ1bmRsZVZlcnNpb25Gb3VuZH0gdG8gOiR7Q3VycmVudEtleHRDRkJ1bmRsZVZl
	cnNpb259IC4uLiAiCgkJCQkJCQkJCQkJUmVzdWx0PSIkKC91c3IvbGliZXhlYy9QbGlz
	dEJ1ZGR5IC1jICJTZXQgT1NLZXh0U2lnRXhjZXB0aW9uTGlzdDoke0N1cnJlbnRLZXh0
	Q0ZCdW5kbGVJZGVudGlmaWVyfSBcIiR7Q3VycmVudEtleHRDRkJ1bmRsZVZlcnNpb259
	XCIiICIke0FwcGxlS2V4dEV4Y2x1ZGVMaXN0S2V4dEluZm9QbGlzdFBhdGh9IikiCgkJ
	CQkJCQkJCQkJaWYgW1sgIiR7UmVzdWx0fSIgXV0KCQkJCQkJCQkJCQkJdGhlbgoJCQkJ
	CQkJCQkJCQkJI3ByaW50ZiAiRXJyb3JcbiIKCQkJCQkJCQkJCQkJCWxldCAiRXJyb3Jz
	Q291bnQrPTEiCgkJCQkJCQkJCQkJCWVsc2UKCQkJCQkJCQkJCQkJCSNwcmludGYgIk9L
	XG4iCgkJCQkJCQkJCQkJCQlsZXQgIlVwZGF0ZWRVblNpZ0tleHRzQ291bnQrPTEiCgoJ
	CQkJCQkJCQkJCWZpCgkJCQkJCQkJCWZpCgkJCQkJCQkJZWxzZQogIAkJCQkJCQkJCSNw
	cmludGYgIkFkZCAke0N1cnJlbnRLZXh0Q0ZCdW5kbGVJZGVudGlmaWVyfToke0N1cnJl
	bnRLZXh0Q0ZCdW5kbGVWZXJzaW9ufSAuLi4gIgogIAkJCQkJCQkJCVJlc3VsdD0iJCgv
	dXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiQWRkIE9TS2V4dFNpZ0V4Y2VwdGlvbkxp
	c3Q6JHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn0gc3RyaW5nIFwiJHtDdXJy
	ZW50S2V4dENGQnVuZGxlVmVyc2lvbn1cIiIgIiR7QXBwbGVLZXh0RXhjbHVkZUxpc3RL
	ZXh0SW5mb1BsaXN0UGF0aH0iKSIKICAJCQkJCQkJCQlpZiBbWyAiJHtSZXN1bHR9IiBd
	XQogIAkJCQkJCQkJCQl0aGVuCiAgCQkJCQkJCQkJCQkjcHJpbnRmICJFcnJvclxuIgog
	IAkJCQkJCQkJCQkJbGV0ICJFcnJvcnNDb3VudCs9MSIKIAkgCQkJCQkJCQkJZWxzZQog
	IAkJCQkJCQkJCQkJI3ByaW50ZiAiT0tcbiIKICAJCQkJCQkJCQkJCWxldCAiQWRkZWRV
	blNpZ0tleHRzQ291bnQrPTEiCiAgCQkJCQkJCQkJZmkKCQkJCQkJCWZpCiAgCQkJCQlm
	aQoJCQlmaQogCWZpCglpZiBbIGBleHByICIkQWxsQ2hlY2tLZXh0c0NvdW50IiAlIDUw
	YCAtZXEgIjAiIF0KCQl0aGVuCgkJCSBwcmludGYgIi4iCglmaQogCWRvbmUKZmluaXNo
	dGltZT1gZGF0ZSArJXNgCgpJRlM9JE9sZElGUyAgICMgcmV0dXJuIG9sZCAkSUZTCgpw
	cmludGYgIiBEb25lLlxuIgoKZWNobyAiLS0gVG90YWwgcHJvY2Vzc2VkOiAoJHtBbGxD
	aGVja0tleHRzQ291bnR9IGtleHRzKSBBZGRlZCAke0FkZGVkVW5TaWdLZXh0c0NvdW50
	fSwgVXBkYXRlZCAke1VwZGF0ZWRVblNpZ0tleHRzQ291bnR9IGVudHJpZXMgZm9yICQo
	KCRmaW5pc2h0aW1lLSRzdGFydHRpbWUpKSBzZWMuIgplY2hvCn0KClBhdGNoS2V4dElu
	Zm9QbGlzdCgpIHsKCiMgSW5wdXQgMS1rZXh0IDItbm9kZSAzLW5vZGUgdmFsdWUKIyBT
	ZWFyY2gga2V4dAojIElmIE5vZGUgZXhpc3QgLSBDb3JyZWN0IG5vZGUgdmFsdWUKIyBF
	bHNlIEFkZCBOb2RlIGFuZCBTZXQgTm9kZSB2YWx1ZQoKbG9jYWwgS2V4dEZvclBhdGNo
	PSIkezF9Igpsb2NhbCBOb2RlRm9yUGF0Y2g9IiR7Mn0iCmxvY2FsIE5vZGVWYWx1ZUZv
	clBhdGNoPSIkezN9IgoKbG9jYWwgUGF0Y2hLZXh0UGF0aD1ga2V4dGZpbmQgfGdyZXAg
	IiR7S2V4dEZvclBhdGNofSJgICMgc2VhcmNoIGtleHQgZm9yIHBhdGNoCiNlY2hvICJQ
	YXRjaEtleHRQYXRoPSR7UGF0Y2hLZXh0UGF0aH0iCmxvY2FsIFBhdGNoS2V4dEluZm9Q
	bGlzdFBhdGg9YGZpbmQgIiR7UGF0Y2hLZXh0UGF0aH0iIC1uYW1lIEluZm8ucGxpc3Qg
	Mj4vZGV2L251bGxgICMgc2VhcmNoIGtleHQgZm9yIHBhdGNoIEluZm8gUGxpc3QgUGF0
	aAoKaWYgW1sgIiR7UGF0Y2hLZXh0SW5mb1BsaXN0UGF0aH0iIF1dICMgQ2hlY2sgaWYg
	UGF0Y2hLZXh0IEluZm9QbGlzdCBleGlzdAoJdGhlbgoJCWxvY2FsIFBhdGNoS2V4dE5v
	ZGVWYWx1ZT0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAiUHJpbnQgJHtOb2Rl
	Rm9yUGF0Y2h9IiAiJHtQYXRjaEtleHRJbmZvUGxpc3RQYXRofSIgMj4vZGV2L251bGwp
	IgoJCWlmIFtbICEgIiR7UGF0Y2hLZXh0Tm9kZVZhbHVlfSIgXV0gfHwgW1sgIiR7UGF0
	Y2hLZXh0Tm9kZVZhbHVlfSIgIT0gIiR7Tm9kZVZhbHVlRm9yUGF0Y2h9IiBdXQoJCQl0
	aGVuCmNhdCA8PEVPRgpUYXNrOiBQYXRjaCAiJHtLZXh0Rm9yUGF0Y2h9IiBJbmZvLnBs
	aXN0OgogICAgICBTZXQgICAiJHtOb2RlRm9yUGF0Y2h9IiB0byAiJHtOb2RlVmFsdWVG
	b3JQYXRjaH0iCiAgCkVPRgoJCSNlY2hvICJGb3VuZCAke0tleHRGb3JQYXRjaH0iCgkJ
	bG9jYWwgUGF0Y2hLZXh0Q0ZCdW5kbGVWZXJzaW9uPSIkKC91c3IvbGliZXhlYy9QbGlz
	dEJ1ZGR5IC1jICJQcmludCBDRkJ1bmRsZVZlcnNpb24iICIke1BhdGNoS2V4dEluZm9Q
	bGlzdFBhdGh9IiAyPi9kZXYvbnVsbCkiICMgZmluZCBLZXh0IENGQnVuZGxlVmVyc2lv
	bgoJCWVjaG8gIkZvdW5kICR7S2V4dEZvclBhdGNofTpDRkJ1bmRsZVZlcnNpb246JFBh
	dGNoS2V4dENGQnVuZGxlVmVyc2lvbiIKCgkJbG9jYWwgQmFja1VwSW5mb1BsaXN0PSIk
	e1BhdGNoS2V4dEluZm9QbGlzdFBhdGgvSW5mby5wbGlzdC9JbmZvXyRQYXRjaEtleHRD
	RkJ1bmRsZVZlcnNpb24ucGxpc3R9IgoJCWlmIFtbICEgLWUgIiR7UGF0Y2hLZXh0SW5m
	b1BsaXN0UGF0aC9JbmZvLnBsaXN0L0luZm9fJFBhdGNoS2V4dENGQnVuZGxlVmVyc2lv
	bi5wbGlzdH0iIF1dCgkJCXRoZW4KCQkJCWNwICIke1BhdGNoS2V4dEluZm9QbGlzdFBh
	dGh9IiAiJHtCYWNrVXBJbmZvUGxpc3R9IgoJCQkJIyBlY2hvICR7QSMqQUJ9CgkJCQll
	Y2hvICJCYWNrdXAgJHtQYXRjaEtleHRJbmZvUGxpc3RQYXRoIypDb250ZW50cy99IHRv
	ICR7QmFja1VwSW5mb1BsaXN0IypDb250ZW50cy99IC4uLiBPSyIKCQkJZWxzZQoJCQkJ
	ZWNobyAiRm91bmQgQmFja3VwIEluZm8ucGxpc3QgLSAke0JhY2tVcEluZm9QbGlzdCMq
	Q29udGVudHMvfSIJCgkJZmkKCQllY2hvCgoJCWlmIFtbICEgIiR7UGF0Y2hLZXh0Tm9k
	ZVZhbHVlfSIgXV0KCQkJdGhlbgoJCQkJZWNobyAiTm90IEZvdW5kICR7Tm9kZUZvclBh
	dGNofSBpbiAke1BhdGNoS2V4dEluZm9QbGlzdFBhdGgjKkNvbnRlbnRzL30iCgkJCQlw
	cmludGYgIkFkZCAke05vZGVGb3JQYXRjaH06JHtOb2RlVmFsdWVGb3JQYXRjaH0gLi4u
	ICIKCQkJCWxvY2FsIFJlc3VsdD0iJCgvdXNyL2xpYmV4ZWMvUGxpc3RCdWRkeSAtYyAi
	QWRkICR7Tm9kZUZvclBhdGNofSBzdHJpbmcgJHtOb2RlVmFsdWVGb3JQYXRjaH0iICIk
	e1BhdGNoS2V4dEluZm9QbGlzdFBhdGh9IikiCgkJCQlpZiBbWyAiJHtSZXN1bHR9IiBd
	XQoJCQkJCXRoZW4KCQkJCQkJcHJpbnRmICJFcnJvclxuIgoJCQkJCWVsc2UKCQkJCQkJ
	cHJpbnRmICJPS1xuIgoJCQkJZmkKCQkJZWxzZQoJCQkJZWNobyAiRm91bmQgJHtOb2Rl
	Rm9yUGF0Y2h9OiR7UGF0Y2hLZXh0Tm9kZVZhbHVlfSBpbiBJbmZvLnBsaXN0IgoJCQkJ
	I3ByaW50ZiAiJHtDdXJyZW50S2V4dENGQnVuZGxlSWRlbnRpZmllcn06JHtDRkJ1bmRs
	ZVZlcnNpb25Gb3VuZH0gRm91bmRcbiIKCQkJCWlmICEgW1sgIiR7UGF0Y2hLZXh0Tm9k
	ZVZhbHVlfSIgPSAiJHszfSIgXV0KCQkJCQl0aGVuCgkJCQkJCSNSZXN1bHQ9IiQoL3Vz
	ci9saWJleGVjL1BsaXN0QnVkZHkgLWMgIkRlbGV0ZSBPU0tleHRTaWdFeGNlcHRpb25M
	aXN0OiR7Q3VycmVudEtleHRDRkJ1bmRsZUlkZW50aWZpZXJ9IiAiJHtBcHBsZUtleHRF
	eGNsdWRlTGlzdEtleHRJbmZvUGxpc3RQYXRofSIpIgoJCQkJCQlwcmludGYgIlVwZGF0
	ZSAke05vZGVGb3JQYXRjaH06JHtQYXRjaEtleHROb2RlVmFsdWV9IHRvIFwiJHtOb2Rl
	VmFsdWVGb3JQYXRjaH1cIiAuLi4gIgoJCQkJCQlSZXN1bHQ9IiQoL3Vzci9saWJleGVj
	L1BsaXN0QnVkZHkgLWMgIlNldCAke05vZGVGb3JQYXRjaH0gXCIke05vZGVWYWx1ZUZv
	clBhdGNofVwiIiAiJHtQYXRjaEtleHRJbmZvUGxpc3RQYXRofSIpIgoJCQkJCQlpZiBb
	WyAiJHtSZXN1bHR9IiBdXQoJCQkJCQkJdGhlbgoJCQkJCQkJCXByaW50ZiAiRXJyb3Jc
	biIKCQkJCQkJCWVsc2UKCQkJCQkJCQlwcmludGYgIk9LXG4iCgkJCQkJCWZpCgkJCQkJ
	ZWxzZQoJCQkJCQllY2hvICJOb3RoaW5nIHRvIGRvIC0gcGF0Y2hlZCBhbHJlYWR5IgoJ
	CQkJZmkKCQlmaQoJCWZpCgoJZWxzZQoJCSNlY2hvICJFcnJvciAke0tleHRGb3JQYXRj
	aH0gbm90IGZvdW5kIgoJCXJldHVybiAxCmZpCgplY2hvCn0KCkluc3RhbGxLZXh0KCkg
	ewoKQ3VycmVudEtleHQ9JDEKQmFzZURyb3BOYW1lPSQoYmFzZW5hbWUgIiR7Q3VycmVu
	dEtleHR9IikKRGlyRmlsZXNOYW1lPSIke1dvcmtEaXIxfSIKCktleHRBcmNoPSQoa2V4
	dGZpbmQgLW5vLXBhdGhzICIke0N1cnJlbnRLZXh0fSIgLXByaW50MCAtZWNobyAtbiAi
	IChhcmNoZXMpICIgLXBhKQoKY2F0IDw8RU9GClRhc2s6IEluc3RhbGwgIiR7S2V4dEFy
	Y2h9IgoJCSAgIHRvICIke1dvcmtEaXIxfSIKIApFT0YKCglPbGRJRlM9JElGUyAgICMg
	c2F2ZSBvbGQgJElGUwoJSUZTPSQnXG4nICAgICAjIG5ldyAkSUZTICAKCiAgICBmb3Ig
	RmlsZXMgaW4gJChmaW5kICIke1dvcmtEaXIxfSIgLW5hbWUgIiR7QmFzZURyb3BOYW1l
	fSIpCgkgICAgZG8KCgkJRGlyRmlsZXNOYW1lPSQoZGlybmFtZSAiJHtGaWxlc30iKSAK
	CQlwcmludGYgIkZvdW5kIGV4aXN0aW5nIFwiJHtGaWxlc31cIlxuIgoJCXByaW50ZiAi
	XG4iCgoJCWlmIFsgLWUgIiR7RGlyRmlsZXNOYW1lfS8ke0Jhc2VEcm9wTmFtZX0uYmFr
	IiBdCgkJCXRoZW4KCQkJCXJtIC1yZiAiJHtEaXJGaWxlc05hbWV9LyR7QmFzZURyb3BO
	YW1lfS5iYWsiCgkJZmkKCgkJcHJpbnRmICJCYWNrVXAgOiBcIiR7QmFzZURyb3BOYW1l
	fVwiIHRvIFwiJHtCYXNlRHJvcE5hbWV9LmJha1wiIC4uLiAiCgoJCWlmIG12IC1mICIk
	e0RpckZpbGVzTmFtZX0vJHtCYXNlRHJvcE5hbWV9IiAiJHtEaXJGaWxlc05hbWV9LyR7
	QmFzZURyb3BOYW1lfS5iYWsiCgkJCXRoZW4KCQkJCXByaW50ZiAiRG9uZS5cbiIKCQkJ
	ZWxzZQoJCQkJcHJpbnRmICJFcnJvci5cbiIKCQlmaQoJCXByaW50ZiAiXG4iCgogICAg
	ICAgIGRvbmUKCQoJSUZTPSRPbGRJRlMgICAjIHJldHVybiBvbGQgJElGUwoKcHJpbnRm
	ICJJbnN0YWxsOiBcIiR7QmFzZURyb3BOYW1lfVwiIC4uLiAiCgppZiBjcCAtUmYgIiR7
	Q3VycmVudEtleHR9IiAiJHtEaXJGaWxlc05hbWV9IgoJdGhlbgoJCXByaW50ZiAiT0su
	XG4iCgllbHNlCgkJcHJpbnRmICJDYW4ndCBjb3B5IHNvdXJjZSBmaWxlLlxuIgoJCXJl
	dHVybiAxCmZpCQkKCnByaW50ZiAiXG4iCgpTZXRQZXJtaXNzaW9uc01vZCAiJHtEaXJG
	aWxlc05hbWV9LyR7QmFzZURyb3BOYW1lfSIKIwp0b3VjaCAiJHtEaXJGaWxlc05hbWV9
	LyR7QmFzZURyb3BOYW1lfSIKCn0KCnNhdmVFeGl0KCkgewoKcHJpbnRmICJTeW5jaW5n
	IGRpc2sgY2FjaGUgLi4uICIKc3luYwpwcmludGYgIkRvbmUuXG4iCn0KCmVuZFByb2dy
	YW0oKSB7CmVjaG8KZWNobyAiQWxsIGRvbmUuIgplY2hvICJIYXZlIGEgbmljZSAuLi4g
	ZGF5KG5pZ2h0KSIKcHJpbnRmICJFbmpveSAuLi5cblxhIgpleGl0Cn0KCmNoZWNrRmls
	ZUV4aXN0KCkgewoKaWYgW1sgLWUgIiQxIiBdXQoJdGhlbgoJZWNobyAiXCIkMVwiIGV4
	aXN0IgoJCXJldHVybiAwCgllbHNlCgllY2hvICJcIiQxXCIgbm90IGV4aXN0IgoJCXJl
	dHVybiAxCmZpCn0KCm1haW4oKSB7CgpjYXQgPDxFT0YKVGFzazogRnVsbCBzZXJ2aWNl
	IGZvciAiJHtXb3JrRGlyMX0iIGFuZAogICAgICAgICAgICAgICAgICAgICAgICIke1dv
	cmtEaXIyfSIgZm9sZGVycy4KCkVPRgoKQ2hlY2tDb25maWcKCmlmIFtbICIke2tleHRf
	QXBwbGVLZXh0RXhjbHVkZUxpc3R9IiAtZXEgIjEiIF1dICYmIFtbICR7S2Vybk9TUmVs
	ZWFzZX0gLWx0ICIxNCIgXV0KCXRoZW4KCQlVcGRhdGVPU0tleHRTaWdFeGNlcHRpb25M
	aXN0ICIke1dvcmtEaXIxfSIKZmkKCiMgTXVzdCB3b3JrIE9LIC0gbm90aGluZyBiYWQg
	d2l0aCBkaXIgY2hhbmdpbmcKaWYgWyAtZCAiJHtXb3JrRGlyMn0iIF0KICAgIHRoZW4K
	ICAgICAgICBTZXRQZXJtaXNzaW9uc01vZCAiJHtXb3JrRGlyMn0iCmZpCgpTZXRQZXJt
	aXNzaW9uc01vZCAiJHtXb3JrRGlyMX0iCgojIFJlbW92ZSBzbGVlcGltYWdlIGZpbGUK
	IyBpZiBbIC1mICIvcHJpdmF0ZS92YXIvdm0vc2xlZXBpbWFnZSIgXQojICAgICB0aGVu
	CiMgICAgICAgICBwcmludGYgIlByZXZlbnRpdmUgcmVtb3ZhbCBzbGVlcGltYWdlIGZp
	bGUgLi4uICIKIyAgICAgICAgIHJtIC1yZiAiL3ByaXZhdGUvdmFyL3ZtL3NsZWVwaW1h
	Z2UiCiMgICAgICAgICBwcmludGYgIkRvbmUuXG4iCiMgCQllY2hvCiMgZmkKCgojIFdh
	aXRpbmcgc3lzdGVtIHJlYnVpbGQga2V4dHMgY2FjaGUKClN5c3RlbUNhY2hlVXBkYXRl
	CgplY2hvCgp9CgoKCiMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMj
	IyMjIyMjIyMjCiMjIyMjIyBTdGFydCBtYWluIHNjcmlwdCBleGVjdXRpb24gcm91dGlu
	ZSAjIyMjCiMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMj
	IyMjCgoKaWYgWyAtbiAiJHsxfSIgXQoJdGhlbgogCQlGdWxsRHJvcE5hbWU9IiR7MX0i
	CiAJCUJhc2VEcm9wTmFtZT0iJChiYXNlbmFtZSAiJHtGdWxsRHJvcE5hbWV9IikiCiAK
	IAkJY2FzZSAiJHtCYXNlRHJvcE5hbWV9IiBpbgogCQkJKi5ta2V4dCkKIAkJCQltZW1v
	TVNHCiAJCQkJU3lzdGVtU3BlY01TRwogCQkJCVN0YXJ0TVNHCiMJCQkJZWNobyAiJHtC
	YXNlRHJvcE5hbWV9IgogCQkJCXVucGFja01rZXh0ICIke0Z1bGxEcm9wTmFtZX0iCiAJ
	CQkJc2F2ZUV4aXQKIAkJCQllbmRQcm9ncmFtCiAJCQkJOzsKIAogCQkJKi5rZXh0fCou
	cHBwfCoucGx1Z2lufCouYnVuZGxlKQogCQkJCW1lbW9NU0cKIAkJCQlTeXN0ZW1TcGVj
	TVNHCiAJCQkJU3RhcnRNU0cKIAkJCQlDaGVja0NvbmZpZwogCQkJCWk9MQogCQkJCXdo
	aWxlIFsgJGkgLWxlICQjIF0KIAkJCQlkbwogICAgICAgICAgICAgICAgIAlDdXJyZW50
	S2V4dD0iJChldmFsICJlY2hvIFwkeyRpfSIpIgogCQkJCQljYXNlICIkKGJhc2VuYW1l
	ICIkQ3VycmVudEtleHQiKSIgaW4KIAkJCSAgICAJCSoua2V4dHwqLnBwcHwqLnBsdWdp
	bnwqLmJ1bmRsZSkKIAkJCQkJCQlJbnN0YWxsS2V4dCAiJChldmFsICJlY2hvIFwkeyRp
	fSIpIgoJCQkJCQk7OwogCQkJCQllc2FjCiAJCQkJCWk9YGV4cHIgJGkgKyAxYAogCQkJ
	CWRvbmUKCQkJCWlmIFtbICIke2tleHRfQXBwbGVLZXh0RXhjbHVkZUxpc3R9IiAtZXEg
	IjEiIF1dICYmIFtbICR7S2Vybk9TUmVsZWFzZX0gLWx0ICIxNCIgXV0KCQkJCQl0aGVu
	CgkJCQkJCVVwZGF0ZU9TS2V4dFNpZ0V4Y2VwdGlvbkxpc3QgIiR7V29ya0RpcjF9IgoJ
	CQkJZmkKCQkJCVN5c3RlbUNhY2hlVXBkYXRlCiAJCQkJZWNobwogCQkJCXNhdmVFeGl0
	CiAJCQkJZW5kUHJvZ3JhbQogCQkJCTs7CiAJCiAJCQkqKQogICAgICAgICAgICAgCSMg
	aWYgZmlsZSBpcyBkaXJlY3RvcnkgdGhlbiBwYWNrIGl0CiAgICAgICAgICAgICAJaWYg
	WyAtZCAiJEZ1bGxEcm9wTmFtZSIgXQogICAgICAgICAgICAgICAgICAgICB0aGVuCiAJ
	CQkJICAgICAgICBtZW1vTVNHCiAJCQkJICAgICAgICBTeXN0ZW1TcGVjTVNHCiAJCQkJ
	CQlTdGFydE1TRwogCQkJCSAgICAgICAgcGFja01rZXh0ICIke0Z1bGxEcm9wTmFtZX0i
	CiAJCQkJICAgICAgICBzYXZlRXhpdAogCQkJCSAgICAgICAgZW5kUHJvZ3JhbQogCQkJ
	CSAgICBlbHNlCiAgICAgICAgIAkJCQltZW1vTVNHCiAgICAgICAgIAkJCQl1c2FnZQog
	ICAgICAgICAJCQkJZXhpdAogICAgICAgICAgICAgICAgIGZpCiAgICAgICAgICAgICAg
	ICAgOzsKIAkJZXNhYwoKZmkKCiNlY2hvICJTdGFnZSBJZiBQcm9jZWVkaW5ncyIKCm1l
	bW9NU0cKU3lzdGVtU3BlY01TRwpTdGFydE1TRwoKbWFpbgoKc2F2ZUV4aXQKZW5kUHJv
	Z3JhbQpfEA9OU0tleWVkQXJjaGl2ZXLRCwxUcm9vdIABAAgAEQAaACMALQAyADcAOgBA
	g06DYINjg2gAAAAAAAACAQAAAAAAAAANAAAAAAAAAAAAAAAAAACDag==
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
